.portada-blog {
  background-image: url('../img/bg-portada-blog.png');
  background-position: top center;
}

.filter {
  display: flex;
  gap: 8%;
  margin-bottom: 30px;
}

.field {
  display: flex;
  gap: 20px;
}

.blog-detalle-date p,
.field-text a,
.field select,
.field input {
  background-color: #FFF;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 2px solid #F4C1E1;
  border-radius: 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 0;
  width: fit-content;
}

.field select {
  min-width: 220px;
  padding: 5px 0;
}

.field input::placeholder {
  color: #000;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.field input {
  border-bottom: 2px solid #F4C1E1;
}

.field button {
  background-color: #FFF;
  background-image: url('../img/icono-lupa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border: 2px solid #F4C1E1;
  border-radius: 5px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

 /* hr {
  border: none;
  border-top: 0.5px solid #C4C4C4;
  margin: 0;
}*/

.blog {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.list-blog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
  /*border-bottom: 0.5px solid #C4C4C4;*/
}

.card-blog {
  display: flex;
  gap: 17px;
}

.card-blog,
.card-blog-xs {
  padding-bottom: 30px;
}

.card-blog:not(:last-child),
.card-blog-xs:not(:last-child) {
  border-bottom: 2px solid #C4C4C4;
}

.card-image {
  max-width: 270px;
  width: 100%;
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
}

.card-tag {
  background-color: #000;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  width: fit-content;
}

.card-blog .card-tag {
  position: absolute;
  bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 22px;
}

.card-description p {
  font-size: 16px;
  line-height: 19px;
}

.card-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  width: 100%;
}

.card-link-more {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.card-link-git {
  align-items: center;
  color: #878788;
  display: flex;
  gap: 5px;
}

.card-link-git img {
  max-width: 33px;
}

.card-link-git span {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Paginado */
.paginado {
  display: flex;
  gap: 8px;
  margin-top: 60px;
}

.prev,
.next {
  width: 29px;
}

.prev img,
.next img {
  display: block;
  width: 100%;
}

.next {
  transform: rotate(180deg);
}

.paginado-number {
  background-color: #C4C4C4;
  border: none;
  color: #FFF;
  display: block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

.paginado-number.active {
  background-color: #000;
}

/* Recomendado */
.list-recommended {
  display: flex;
  border-bottom: 0.5px solid #C4C4C4;
  flex-direction: column;
  gap: 27px;
  max-width: 350px;
  width: 100%;
}

.card-blog-xs .card-tag {
  background-color: #F4C1E1;
  border-radius: 2px;
  color: #000;
  width: fit-content;
}

.card-blog-xs .card-title {
  font-size: 16px;
  margin: 10px 0;
}

.card-blog-xs .card-image {
  float: right;
  top: 0;
  max-width: 102px;
  margin-bottom: 10px;
  width: 100%;
}

.card-blog-xs .card-description {
  margin-bottom: 13px;
}

/* Blog Detalle */
.blog-detalle {
  display: flex;
  row-gap: 15px;
  column-gap: 40px;
  /* gap: 80px; */
  margin-top: 40px;
  flex-wrap: wrap;
}

.blog-detalle-head {
  flex: 100%;
}

.line-vertical {
  border-right: 0.5px solid #C4C4C4;
}

.blog-detalle-title {
  font-size: 34px;
  font-weight: 600;
}

.blog-detalle-image,
.blog-detalle-image img {
  display: block;
  width: 100%;
}

.blog-detalle-description p + p {
  margin-top: 20px;
}

.autor {
  margin-top: 20px;
}

.autor-image {
  float: left;
  margin-right: 10px;
  width: 67px;
}

.autor-image img {
  display: block;
  width: 100%;
}

.autor-name {
  font-size: 20px;
  font-weight: 600;
}

.autor-redes {
  display: flex;
  gap: 2px;
}

.autor-redes span,
.autor-redes a {
  display: block;
  text-decoration: none;
  max-width: 26px;
  width: 100%;
  cursor: pointer;
}

.autor-redes span img,
.autor-redes a img {
  display: block;
  width: 100%;
}

/* Noticias relacionadas */
.group-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card-related {
  max-width: 350px;
  width: 100%;
}
.card-related .card-image {
  max-width: unset;
}
.card-related .card-content {
  background-color: #000;
  padding: 15px 20px;
}
.card-related .card-title {
  color: #FFF;
  font-size: 16px;
  margin: 0px;
}

.card-related p {
  color: #FFF;
  margin: 10px 0;
}
/*
* Responsive general
*/
@media only screen and (max-width: 920px) {
  .section-blog .container {
    width: 83%;
  }
  .field-text a {
    font-size: 14px;
  }
  .filter {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .field input,
  .field select {
    min-width: unset;
    max-width: 130px;
  }
  .section-blog .list-recommended,
  .section-blog .line-vertical {
    display: none;
  }
  .list-recommended {
    display: none;
  }
  .line-vertical{
    display: none;
  }
  .blog-detalle {
    margin-top: 15px;
  }
  .card-blog {
    width: 100%;
  }
  .card-blog .card-tag {
    display: none;
  }
  .list-blog {
    padding-bottom: 15px;
    border-bottom: 0.5px solid #C4C4C4;
  }
 

}
@media only screen and (max-width: 40em) {
  .section-blog .container {
    width: 78%;
  }
  .filter {
    flex-wrap: wrap;
    gap: 15px;
  }
  .field input,
  .field select {
    min-width: 230px;
  }

  .field-btn {
    justify-content: space-between;
  }
  .card-blog {
    flex-direction: column;
  }
  .card-image {
    max-width: 100%;
  }
  .paginado {
    justify-content: center;
  } 
}