.portada-reclamaciones {
	background-image: url('../img/bg-portada-reclamaciones.png');
	background-position: top center;
}

.form {
	max-width: 541px;
	margin: 0px auto 20px;
	border: 2px solid #F4C1E1;
	border-radius: 15px;
	padding: 20px 0;
}



.form-title {
	color: #000;
	font-weight: 600;
	font-size: 35px;
	line-height: 1;
	text-align: center;
	margin: 20px auto 40px;
}

.form-field {
	align-items: center;
	border: 2px solid #F4C1E1;
	border-radius: 10px;
	/* height: 52px; */
	display: flex;
	gap: 10px;
	margin: 20px auto;
	overflow: hidden;
	padding: 12px;
	width: calc(100% - 90px);
}

.form-field-error {
	color: red;
	font-weight: 500;
	font-size: 14px;
	margin: -15px auto 0;
	width: calc(100% - 90px);
}

.form-field-error + p {
	margin-top: 0;
}

.form-field select,
.form-field input,
.form-field input::placeholder,
.form-field textarea {
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
	background-color: transparent;
	border-radius: 0;
	color: #000;
	font-family: "raleway";
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}

select {
	background-image: url('../img/flecha.png');
	/*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
	/*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.form-field img {
	display: block;
	width: 25px;
	height: fit-content;
}

.group-radio {
	display: flex;
	gap: 30px;
	margin: 20px auto;
	width: calc(100% - 90px);
}

.radio {
	font-size: 16px;
	font-family: "raleway";
	font-weight: 500;
}

.parrafo,
.comentario {
	margin: 20px auto 0;
	width: calc(100% - 90px);
}

.parrafo-lr {
	text-align: justify;
}

.comentario p {
	font-size: 12px;
	font-family: "raleway";
	text-align: center;
	font-weight: 500;
	color: black;
}

.form-field-textarea {
	display: block;
}

.form-field-textarea label {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	font-family: "raleway";
	font-weight: 600;
}

.form-message {
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 26px auto;
	text-align: center;
	width: 100%;
}

.form-field-btn {
	flex: 100%;
}

.btn {
	background-color: #F4C1E1;
	border: 2px solid #F4C1E1;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 auto;
	padding: 9px 42px;
	text-decoration: none;
	width: fit-content;
	text-align: center;
}

.text-btn {
	display: none;
}

.input-apodo {
	border: 0;
	font-size: 35px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

.form-tyc {
  /* text-align: center; */
  margin: auto;
  max-width: 541px;
}

.form-tyc label {
	cursor: pointer;
	display: block;
}

.form-tyc a {
  color: #000;
  text-decoration: none;
}
/* Responsive card*/

@media only screen and (max-width: 920px) {
	.section-register .form {
		max-width: 400px;
	}
	
	.form-field-error,
	.form-field {
		width: calc(100% - 72px);
	}

	.section-register .form-tyc {
		max-width: 350px;
	}

	select {
		background-position: right center;
		background-size: 17px;
	}

	.parrafo-btn {
		margin: auto;
		margin-top: 12px;
		text-align: center;
		max-width: 100%;
	}

	.text-btn {
		display: inline;
	}

	.comentario p {
		font-size: 10px;
		text-align: left;
		font-weight: 500;
	}
}

@media only screen and (max-width: 40em) {
	.form-field {
		padding: 5px 7px;
		margin: 15px auto;
		width: calc(100% - 60px);
	}

	.form-field-error {
		width: calc(100% - 60px);
	}

	.title-head {
		font-size: 40px;
	}

	.form-field select,
	.form-field input,
	.form-field input::placeholder,
	.form-field textarea {
		font-size: 14px;
	}

	.form-field img {
		width: 18px;
	}

	.btn {
		border-radius: 5px;
		font-size: 14px;
		padding: 7px 20px;
	}

}