/* Header */
header {
  padding: 38px 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
}

/* Header evento Inicio*/
.header-evento {
  top: 0;
}
/* Header evento Fin */
header .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.burguer {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  position: relative;
}

.burguer span {
  display: block;
  background-color: #000;
  height: 4px;
  width: 30px;
}

.header-evento .burguer span {
  background-color: #FFF;
}

.logo {
  display: block;
  width: 217px;
}

.logo img {
  display: block;
  width: 100%;
}

.menu-list {
  display: flex;
  list-style-type: none;
  flex: 1;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
}

.menu-list a {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding-top: 20px;
}


.menu {
  align-items: center;
  display: block;
  gap: 100px;
  justify-content: space-between;
  list-style-type: none;
  position: absolute;
}

.menu a {
  text-decoration: none;
  color: black
}

.menu-item {
  display: flex;
  gap: 30px;
}

.menu-item a {
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

header.scrolled:not(.header-evento) .menu-item a {
  color: #000;
}

.btn-line {
  border-radius: 5px;
  border: 1px solid #F4C1F0;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-line.active {
  background-color: #F4C1F0;
  color: #000;
}

/*Codigo para el dropdown*/

.botton-dropdown{
 
  background: black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  margin: 0 0 0 auto;
}

.cajita{
  margin: 12px 10px;
  line-height: 39px;
}

.cajita img{
  cursor: pointer;
}

.menu {
  cursor: pointer;
  display: none;
  color: black;
  background: white;
  border-radius:  10px 0 10px 10px;
  overflow: hidden;
  margin-top: -5px;
  right: 0;
}

.menu a {
  border-top: 0.5px solid black;
  color: #000;
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 13px 10px;
  text-align: center;
  text-decoration: none;
  min-width: 180px;
}

.menu a:first-child {
  border-top: none;
}

.menu a:hover{
  background: pink;
  transition: 0.5s;
}

#toggle:checked + .menu{
  display: block;
  
}

#toggle{
  display: none;
}
.menu a.menu-m{
  display:none;
}

/* .nav{
  width: 200px;
  
} */

/*
* Responsive general
*/
@media only screen and (max-width: 920px) {
  header {
    padding: 32px 0;
  }
  .logo {
    width: 162px;
  }
  .menu-list {
    display: none;
  }
  .menu a.menu-m{
    display: block;
  }
}


/*
* Responsive general
*/
@media only screen and (max-width: 40em) {

  /* Header */
  header {
    padding: 20px 0;
  }
  header .container {
    align-items: center;
  }
  .burguer {
    display: flex;
  }
  header .logo {
    justify-content: center;
  }
  .logo {
    max-width: 120px;
    margin: 0 auto 0 0;
  }
  .menu-item--btn {
    justify-content: center;
  }
  .btn-line {
    border: 2px solid #F4C1F0;
  }
}




