/* Encabezado de perfil */
.portada-perfil {
	background: #000;
}

.portada-perfil .petcard-head {
	margin: 0 auto;
	line-height: 1.5;
}

.portada-perfil .petcard-head span {
	line-height: unset;
}

.profile-title .petcard-image {
	max-width: 506px;
}

.profile-head {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px auto 0;
	min-height: 150px;
	position: relative;
	width: 90%;
}

.profile-image {
	max-width: 150px;
	position: absolute;
	width: 100%;
	left: 0;
}

.profile-image img {
	display: block;
	width: 100%;
}

.profile-image-edit {
	display: block;
	width: 30px;
	position: absolute;
	right: 5px;
	top: 0;
}

.profile-title {
	margin: 0 auto;
	width: calc(100% - 300px);
}

.profile-title-head {
	font-size: 50px;
	margin-bottom: 8px;
	text-align: center;
}

.profile-coins {
	align-items: center;
	color: #000;
	display: flex;
	font-size: 20px;
	font-weight: 600;
	gap: 5px;
	justify-content: center;
	text-align: center;
}

.profile-coins img {
	display: block;
	width: 30px;
}

/* Formulario de perfil */
.form-perfil .form {
	max-width: unset;
	margin: 60px auto 0;
	padding: 40px 0;
	width: 90%;
}

.form-content {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin: 0 auto;
	width: calc(100% - 18%);
}

.form-content .form-title-icono {
	flex: 100%;
	text-align: left;
	margin-bottom: 0px;
}

.form-content .form-title-icono img {
	margin-left: 5px;
}

.form-content.form-content-out {
	width: 90%;
}

.form-perfil .form-field {
	flex: 40%;
	margin: 0;
	min-width: 220px;
}

.form-perfil .form-field .w-80 {
	flex: 80% !important;
}

.form-perfil .btn {

	margin-top: 30px;
}


.form-block {
	display: flex;
	gap: 25px;
	flex-direction: column;
	flex: 1;
}

.form-block .form-title {
	margin-bottom: 0;
	margin-left: 0;
}

.form-block .form-field {
	width: unset;
}

.link-addmore {
	color: #000;
	display: flex;
	gap: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	margin-top: 40px;
	cursor: pointer;
}

.link-addmore img {
	width: 26px;
}

/* Step */
.step {
	width: 90%;
	display: block;
	margin: 40px auto 0;
	font-size: 16px;
	font-weight: 600;
	list-style-type: none;

}

.progreso {
	counter-reset: step;
	list-style-type: none;
}

.progreso li {
	float: left;
	width: 33%;
	position: relative;
	text-align: center;
}

.progreso li:first-child {
	text-align: left;
}

.progreso li:last-child {
	text-align: right;
}

.progreso li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background-color: #F4C1E1;
	top: 20px;
	left: 0;
	z-index: 0;
}

.progreso li span {
	border: 1px dashed black;
	border-radius: 100%;
	background-color: #FFF;
	border: 2px solid #F4C1E1;
	display: block;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.progreso li:first-child span {
	margin: 0 auto 0 0;
}

.progreso li:last-child span {
	margin: 0 0 0 auto;
}

.progreso li.active span {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F4C1E1;
	background-size: 24px;
}

.progreso li.active span {
	background-image: url('../img/icono-huella-negra.svg');
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: none !important;
}

@media only screen and (max-width: 920px) {
	.portada-perfil {
		padding-top: 80px;
		min-height: 37vh;
  }
	.portada-perfil .container {
		width: 79%;
	}
	.step {
		width: 100%;
	}
	.profile-head {
		margin-top: 0px;
		min-height: 85px;
	}
	.profile-image {
		max-width: 85px;
	}
	.profile-title {
		width: calc(calc(100% - 170px));
	}
	.profile-title-head {
		font-size: 30px;
	}
	.profile-coins {
		font-size: 14px;
	}
	.form-perfil .form {
		width: 100%;
		margin-top: 20px;
		padding: 24px 0 33px;
	}
	.form-perfil .form-content {
		gap: 13px 20px;
	}
	.form-perfil .form-title {
		font-size: 20px;
		margin: 0 0 20px;
	}
}

@media only screen and (max-width: 40em) {
	.portada-perfil .petcard {
		transform: scale(0.8);
	}
  .petcard-item-text {
		display: none;
	}
	.step {
		margin-top: 0;
	}
	.section-profile .container {
		width: 83.5%;
	}
	.section-profile .petcard-head {
		color: #000;
		line-height: 1.3;
		font-size: 20px;
		margin: 60px auto 10px;
		text-align: center;
	}
	.progreso li {
		font-size: 10px;
	}
	.progreso li::before {
		top: 9px;
	}
	.progreso li span {
		height: 20px;
		width: 20px;
	}
	.progreso li.active span {
		background-size: 12px;
	}
	.profile-head {
		flex-direction: column;
	}
	.profile-image {
		position: relative;
	}
	.profile-title {
		width: 100%;
	}
	.form-perfil .form-content {
		gap: 13px;
	}
	.form-perfil .form-field {
		padding: 5px 7px;
	}
	.form-perfil .input-apodo {
		width: calc(100% - 25px);
		font-size: 20px;
		text-align: center;
	}
	.form-content .form-title-icono img {
		width: 15px;
	}
}