.petcard {
  background-image: url(../img/rockocard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #F4C1E1;
  padding: 35px 35px 20px;
}

.petcard-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.petcard-number {
  display: flex;
  color: #fff;
  height: 200px;
  justify-content: space-between;
  width: 85%;
  align-items: flex-end;
  margin: 0 auto 50px;
  font-size: 25px;
  font-weight: 600;
}

.petcard-number span {
  line-height: 1;
}

.petcard-value {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.petcard-name {
  width: 60%;
}

.petcard-name1 {
  color: #fff;
  font-size: 7px;
}

.petcard-name1 b {
  font-size: 12px;
  margin-left: 5px;
}

.petcard-name2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px 0 10px;
}

.petcard-name3 {
  color: #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  font-size: 7px;
  text-transform: uppercase;
  padding: 0 10px;
  width: fit-content;
}

.petcard-coordinates {
  color: #F4C1E1;
  font-size: 5.5px;
  width: 35%;
}

@media only screen and (max-width: 920px) {
  .petcard {
    padding: 17px 17px 13px;
  }
  .petcard-title {
    font-size: 10px;
  }
  .petcard-number {
    height: 90px;
    font-size: 14px;
    width: 75%;
    margin-bottom: 25px;
  }
  .petcard-name2 {
    font-size: 10px;
    margin: 0 0 5px;
  }
}
