/* Register */
.portada-register {
  background-image: url('../img/bg-portada-register.png');
  background-position: top center;
}

.section-register .profile-head {
  min-height: unset;
  margin-bottom: 30px;
}

.section-register .profile-title-head {
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-register .text-link,
.form-register .text-link a {
  color: #000;
}

.form-register .btn {
  margin: 25px auto 12px;
}

/* Secci[on Negra */
.section-petcard {
  background-color: #000;
}

.group-petcard {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}


.petcard-item {
  flex: auto;
}

.petcard-image {
  max-width: 506px;
  margin: 0 auto;
  width: 100%;
}

.petcard-head {
  text-align: left;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  width: fit-content;
}


.petcard-head span {
  color: #F4C1E1;
  display: block;
}

.petcard-subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.petcard-list {
  color: #fff;
  display: block;
  padding-inline-start: 20px;
  padding-top: 10px;
}

.petcard-list li {
  font-size: 20px;
  line-height: 1.5;
}

.petcard-image p {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}

.petcard-image img {
  display: block;
  width: 100%;
}

/* Confirmado */
.confirmado {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  font-size: 22px;
}

.confirmado p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.confirmado p b {

  font-weight: 700;
  color: #000;
}

/* Responsive card*/
@media only screen and (max-width: 920px) {

  /* Register */
  .portada-register {
    padding-top: 0;
  }

  .section-petcard {
    padding: 70px 0;
  }

  .petcard-head {
    font-size: 25px;
  }

  .petcard-subtitle {
    font-size: 14px;
    margin: 10px 0;
  }

  .petcard-list li {
    font-size: 14px;
    line-height: 1.2;
  }

  .petcard-image p {
    font-size: 14px;
  }
  
  /* Confirmado */
  .section-respuesta {
    min-height: 38vh;
  }
}

@media only screen and (max-width: 40em) {
  .section-petcard .group-petcard {
    flex-direction: column-reverse;
    padding-top: 80px;
    position: relative;
    gap: 10px;
  }
  .section-petcard .petcard-head {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
  }
  .section-petcard .petcard-subtitle {
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }
  .form-register .form-field {
    width: calc(100% - 60px);
    padding: 4px 8px;
  }
  .confirmado {
    width: 70%;
    margin: 0 auto;
  }
  .confirmado p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height:1.2 ;
  }
  .petcard-image{
    max-width: 270px;
  }
  .section-respuesta {
    min-height: unset;
  }
}