.portada-terminos{
   background-image: url('../img/cat-face.png');
   background-position: top center;
 }

 .title-terminos {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0px;
 }

 .terminos-text {
  padding-top: 20px;
  font-size: 16px;
  color: #000000;
  line-height: 18px;
  text-align: justify;
 }

 .terminos-text span{
  font-size: 25px;
 }