<template>

  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">RockoBlog</div>
      </div>
    </section>

    <section class="section-blog">
      <div class="container">
        <div class="filter">
          <div class="field field-text">
            <a href="/blog">Últimos RockoBlogs </a>
          </div>

          <div class="field">
            <select name="Categorías" v-model="idCategoria" id="">
              <option value="">Categorías </option>
              <option :value="categoria.id" v-for="categoria in categorias" :key="categoria.id">
                {{ categoria.categoria }}
              </option>
            </select>
          </div>
          <div class="field">
            <flat-pickr v-model="fecha" placeholder="Elegir Mes / Año" :config="configs.wrap" :required="true"
              @on-change="listenToOnChangeEvent" :disabled="inputDisabled" ref="datePickerWrap">
            </flat-pickr>
          </div>
          <div class="field field-btn">
            <input type="text" placeholder="Buscar" v-model="q" />
            <button type="button" v-on:click="getBusqueda()"></button>
          </div>
        </div>

        <div class="blog">
          <div class="list-blog">
            <hr>
            <div class="card-blog" v-for="post in posts" :key="post.id">
              <div href="" class="card-image">
                <img :src="post.imagen" alt="" />
                <div class="card-tag">{{ post.categoria.categoria }}</div>
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">{{ post.titulo }}</div>
                  <div class="card-description">
                    <p>{{ post.resumen.substring(0, 180) }}...</p>
                  </div>
                </div>
                <div class="card-link">
                  <RouterLink :to="{ name: 'post', params: { slug: post.slug } }" class="card-link-more">Ver más
                  </RouterLink>
                  <span class="card-link-git">
                    <img src="@/assets/img/icono-github.svg" alt="" />
                    <span>RockBot</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-vertical">
          <div class="list-recommended">
            <div class="card-blog-xs" v-for="post in posts" :key="post.id">
              <div class="card-image">
                <img :src="post.imagen" alt="" />
              </div>
              <div class="card-tag">{{ post.categoria.categoria }}</div>
              <div class="card-title">{{ post.titulo }}</div>
              <div class="card-description">
                <p>{{ post.resumen.substring(0, 120) }}...</p>
              </div>
              <div class="card-link">
                <RouterLink :to="{ name: 'post', params: { slug: post.slug } }" class="card-link-more">Ver más
                </RouterLink>
                <span href="" class="card-link-git">
                  <img src="@/assets/img/icono-github.svg" alt="" />
                  <span>RockBot</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="paginado">
          <div class="prev">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
          <button class="paginado-number" v-on:click="getPage(i)" v-for="i in pages" :key="i"
            v-bind:class="{ active: pageActive == i }">
            {{ i }}
          </button>
          <div></div>
          <div class="next">
            <img src="@/assets/img/icono-arrow.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";



//para funcionar el campo de date
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.min.css';
import { Hindi as HindiLocale } from 'flatpickr/dist/l10n/hi.js';
import { english as EnglishLocale } from 'flatpickr/dist/l10n/default.js'
import ConfirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate.js';
import 'flatpickr/dist/plugins/confirmDate/confirmDate.css';
import monthSelectPlugin from 'flatpickr/dist/plugins/monthSelect/index.js'
import 'flatpickr/dist/plugins/monthSelect/style.css'

export default {
  components: {
    Menu,
    Footer,
    flatPickr,
  },
  data() {
    return {
      posts: [],
      categorias: [],
      usuarios: [],
      pages: 0,
      next_page: "",
      prev_page: "",
      pageActive: "",
      idCategoria: "",
      fecha: "",
      q: "",
      inputDisabled: false,
      form: {
        dateBasic: null,
        dateTime: null,
        time: null,

        dateLocale: null,
        dateInline: +new Date(),
        dateConfirm: null,
        allowInput: null,
        dateStart: null,
        dateEnd: null,
        monthSelect: null,
      },
      configs: {
        basic: {},
        wrap: {
          wrap: true,
          altFormat: 'M Y',
          altInput: true,
          dateFormat: "Y-m",
        },
        locale: {
          // https://flatpickr.js.org/localization//
          locale: HindiLocale,
          // https://flatpickr.js.org/events/
          onChange: this.onChange
        },
        inline: {
          inline: true
        },
        confirmPlugin: {
          enableTime: true,
          // https://flatpickr.js.org/plugins/
          plugins: [new ConfirmDatePlugin()]
        },
        allowInput: {
          allowInput: true,
          dateFormat: 'Y-m-d'
        },
        start: {
          minDate: new Date(),
          maxDate: null
        },
        end: {
          minDate: null
        },
        monthSelect: {
          plugins: [
            new monthSelectPlugin({
              shorthand: true,
              dateFormat: "m/Y",
            })
          ]
        }
      },
    };
  },
  mounted() {
    this.getPosts();
    this.pageActive = 1;
    this.getCategorias();
    this.getUsuarios();
  },
  methods: {
    getBusqueda() {
      const params = {
        seacrh: this.q,
        fecha: this.fecha,
        idCategoria: this.idCategoria,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/searchPosts", params)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = 1;
          console.log("Se ejecuto");
        });
    },

    getPosts() {
      axios
        .get("https://admin.eldepaderocko.com/api/posts")
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
        });
    },

    getPage(idPage) {
      axios
        .get("https://admin.eldepaderocko.com/api/posts?page=" + idPage)
        .then((response) => {
          this.posts = response.data.data.data;
          this.pages = response.data.data.last_page;
          this.next_page = response.data.next_page_url;
          this.prev_page = response.data.prev_page_url;
          this.pageActive = idPage;
          console.log("Se ejecuto");
        });
    },

    getActive(idPage) {
      if (idPage == this.pageActive) {
        return {
          active: "active",
        };
      }
    },

    getCategorias() {
      axios
        .get("https://admin.eldepaderocko.com/api/categorias")
        .then((response) => {
          this.categorias = response.data.data;
        });
    },

    getUsuarios() {
      axios
        .get("https://admin.eldepaderocko.com/api/admins")
        .then((response) => {
          this.usuarios = response.data.data;
        });
    },






    //para hacer funcionar el campo

    setNewDate() {
      console.log('Set new date');
      this.form.dateBasic = new Date();
    },
    updateConfig() {
      console.log('Update config');
      this.configs.basic.mode = 'range';
    },
    changeLocale() {
      console.log('Changing locale to english');
      this.configs.locale.locale = EnglishLocale
    },
    onChange(selectedDates, dateStr, instance) {
      console.log('Date change hook was called', dateStr);
    },
    listenToOnChangeEvent(selectedDates, dateStr, instance) {
      console.log('listen To OnChange Event', dateStr);
    },
    submit() {
      console.log('Form submit event', this.form);
    },
    onStartChange(selectedDates, dateStr, instance) {
      this.configs.end.minDate = dateStr
    },
    onEndChange(selectedDates, dateStr, instance) {
      this.configs.start.maxDate = dateStr
    }
  },
};
</script>
