<template>
  <body>
    <Menu />

    <section class="portada-contacto">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Contacto</div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row" v-if="formulario">
          <div class="col--7">
            <div class="form">
              <div class="form-field label">
                <img src="@/assets/img/icono-usuario.svg" alt="" />
                <input type="text" name="" v-model="nombre" placeholder="Nombre(s)" id="" />
              </div>

              <div class="form-field label">
                <img src="@/assets/img/icono-usuario.svg" alt="" />
                <input
                  type="text"
                  name=""
                  v-model="apellido"
                  placeholder="Apellidos"
                  id=""
                />
              </div>

              <div class="form-field label">
                <img src="@/assets/img/msg.png" alt="" />
                <input type="text" name="" v-model="correo" placeholder="Correo" id="" />
              </div>

              <div class="form-field label">
                <img src="@/assets/img/icono-lineas.png" alt="" />
                <input type="text" name="" v-model="asunto" placeholder="Asunto" id="" />
              </div>

              <div class="form-field form-field-textarea">
                <label for="">
                  <img src="@/assets/img/icono-word.png" alt="" />
                  Mensaje: *
                </label>
                <textarea name="" id="" v-model="mensaje" cols="50" rows="5"></textarea>
              </div>
            </div>
            <button type="button" v-on:click="enviarEmail()" class="btn">
              Enviar mensaje
            </button>
          </div>
          <div class="col--5">
            <div class="contacto-data">
              <h3>Información de contacto</h3>
              <div class="contacto-data-item">
                <p>Dirección:</p>
                <p>San Isidro - Lima - Perú</p>
              </div>
              <div class="contacto-data-item">
                <p>Teléfono:</p>
                <p>+51 928 576 714</p>
              </div>
              <div class="contacto-data-item">
                <p>Correo:</p>
                <p>contacto@eldepaderocko.com</p>
              </div>
              <div class="contacto-data-item">
                <p>Horario de atención:</p>
                <p>Lun a vie 8:00 am - 6:00pm</p>
                <p>Sab 8:00 am - 2:00pm</p>
              </div>
              <div class="contacto-data-item">
                <div class="image-rrss">
                  <a target="_blank" href="https://www.instagram.com/eldepaderocko/">
                    <img src="@/assets/img/icono-ig.svg" alt="" />
                  </a>
                  <a target="_blank" href="https://www.tiktok.com/@eldepaderocko">
                    <img src="@/assets/img/icono-tiktok.svg" alt="" />
                  </a>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/eldepaderocko/?_rdc=1&_rdr"
                  >
                    <img src="@/assets/img/icono-fb.svg" alt="" />
                  </a>
                  <a target="_blank" href="https://pe.linkedin.com/company/eldepaderocko">
                    <img src="@/assets/img/icono-linkedin.svg" alt="" />
                  </a>
                  <a
                    target="_blank"
                    href="https://open.spotify.com/user/7y4usr4t89a7559b3jxs45khr?si=zrzqsWbMRGWMjGCK2pabpA&utm_source=copy-link"
                  >
                    <img src="@/assets/img/icono-spotify.svg" alt="" />
                  </a>
                  <a target="_blank" href="https://twitter.com/Eldepaderocko">
                    <img src="@/assets/img/icono-twt.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="modal">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.svg" alt="" />
                </div>
              </div>
              <div class="modal-body">
                <p>
                  Gracias por comunicarte con nosotros, nos pondremos en contacto contigo
                  muy pronto.
                </p>
                <a href="/" class="btn"> Gracias </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mapa">
      <div class="gmap_canvas"><iframe width="100%" height="322" id="gmap_canvas" src="https://maps.google.com/maps?q=San%20Isidro%20Lima&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    </section>

    <Footer />
  </body>
</template>
<style>.mapouter{text-align:right;height:322px;width:100%;}</style>
<style>.gmap_canvas {background:none!important;height:322px;width:100%;}</style>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import Modal from "@/components/ModalComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
    Modal,
  },
  data() {
    return {
      formulario: true,
      modal: false,
    };
  },
  mounted() {},
  methods: {
    enviarEmail() {
      const params = {
        nombre: this.nombre,
        apellido: this.apellido,
        correo: this.correo,
        asunto: this.asunto,
        mensaje: this.mensaje,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/email/contacto", params)
        .then((response) => {
          if (response.data == 200) {
            this.formulario = false;
            this.modal = true;
          }
        });
    },
  },
};
</script>
