<template>
  <body>
    <Menu />

    <section class="portada-blog">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">RockBlog</div>
      </div>
    </section>

    <section>
      <div class="container">
        <hr />
        <div class="blog-detalle">
          <div class="list-blog">
            <div class="card-tag">{{ categoria }}</div>
            <hr />
            <h2 class="blog-detalle-title">
              {{ post.titulo }}
            </h2>
            <div class="blog-detalle-date">{{ post.fecha }}</div>

            <div class="blog-detalle-image">
              <img :src="post.imagen" alt="" />
            </div>

            <div class="blog-detalle-description" v-html="post.contenido"></div>
          </div>
          <div class="list-recommended">
            <div class="card-blog-xs" v-for="post in posts" :key="post.id">
              <div class="card-image">
                <img :src="post.imagen" alt="" />
              </div>
              <div class="card-tag">{{ post.categoria.categoria }}</div>
              <div class="card-title">{{ post.titulo }}</div>
              <div class="card-description">
                <p>
                  {{ post.resumen }}
                </p>
              </div>
              <div class="card-link">
                <RouterLink
                  :to="{ name: 'post', params: { slug: post.slug } }"
                  class="card-link-more"
                  >Ver más</RouterLink
                >
                <a href="" class="card-link-git">
                  <img src="@/assets/img/icono-github.svg" alt="" />
                  <span>{{ post.usuario.name }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </section>

    <section>
      <div class="modal">
        <div class="modal-content">
          <div class="modal-head">
            <div class="modal-image">
              <img src="@/assets/img/logo-rosa.svg" alt="" />
            </div>
          </div>
          <div class="modal-body">
            <p>
              Gracias por comunicarnos el inconveniente, nos pondremos en contacto contigo
              muy pronto.
            </p>
            <a href="" class="btn"> Gracias </a>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {},
  methods: {},
};
</script>
