<template>
  <body>
    <Menu />
    	<section class="portada-perfil 2">
        <div class="bg-opacity"></div>
        <div class="container">
          <div class="group-petcard">
            
            <div class="petcard-item">
              <div class="petcard-image">
                <img src="@/assets/img/bg-tarjeta-digital.png" alt="">
              </div>
            </div>
            <div class="petcard-item">
              <h4 class="petcard-head">
                ¡Bienvenido a
                <br>
                la comunidad
                <br>
                <span>RockoFriends!</span>
              </h4>
            </div>
          </div>
        </div>
      </section>

      <!--Codigo registro-->
      <section class="section-profile">
        <div class="container">
          <div class="row">
            <div class="col--12">
              <div class="profile-head">
                <div class="profile-image">
                  <a href="" class="profile-image-edit">
                    <img src="@/assets/img/icono-camara.svg" alt="">
                  </a>
                  <img src="@/assets/img/foto-gato.png" alt="">
                </div>
                <div class="profile-title">
                  <h4 class="profile-title-head">
                    ¡No olvides a tu engreído!
                  </h4>
                  <div class="profile-coins">
                    <span>
                      Ahora, disfruten juntos los beneficios
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col--12">
              <form action="" class="form-perfil">
                <div class="form">
                  <div class="form-content">
                    <h3 class="form-title form-title-icono">
                      Mascota 1
                      <img src="@/assets/img/icono-lapiz.png" alt="">
                    </h3>
                    <div class="form-field">
                      <img src="@/assets/img/icono-huella.png" alt="">
        
                      <select
                        name="select"
                        class="select"
                        v-model="tipo_mascota"
                      >
                        <option value="0">Tipo</option>
                        <option value="1">Gato</option>
                        <option value="2">Perro</option>
                        <option value="3">Hámster</option>
                        <option value="4">Conejo</option>
                        <option value="5">Ave</option>
                        <option value="6">Pez</option>
                        <option value="7">Puercoespín</option>
                        <option value="8">Otro</option>
                      </select>
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-tarjeta.png" alt="">
                      <input type="text" name="" v-model="nombre" placeholder="Nombre del engreído" id="" />
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-calendario.png" alt="">
                      <input type="text" name="" v-model="cumple" placeholder="Cumple" id="" />
                    </div>
      
                    <div class="form-field">
                      <img src="@/assets/img/icono-edad.svg" alt="">
                      <input type="text" name="" v-model="edad" placeholder="Edad" id="" />
                    </div>
                  </div>
                </div>
                <div class="form-content">
                  <a href="" class="link-addmore">
                    <img src="@/assets/img/icono-plus-circle.svg" alt="" />
                    Agregar más
                  </a>

                  <div class="form-field-btn">
                    <input
                      type="button"
                      class="btn"
                      value="Guardar"
                      v-on:click="storeMascota()"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row">
            <div class="col--12">
              <div class="step">
                <ul class="progreso">
                  <li>
                    <span></span>
                    Paso 1
                  </li>
                  <li class="active">
                    <span></span>
                    Paso 2
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
