<template>

  <body>
    <Menu />
    <!-- Aqui van las secciones -->
    <section class="portada-perfil 1">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="group-petcard">
          <div class="petcard-item">
            <div class="petcard">
              <div class="petcard-title">
                RockoCard
              </div>
              <div class="petcard-number">
                <span>0000</span>
                <span>0000</span>
                <span>0000</span>
                <span>0005</span>
              </div>
              <div class="petcard-value">
                <div class="petcard-name">
                  <div class="petcard-name1">
                    AFILIADO DESDE
                    <b>2022</b>
                  </div>
                  <div class="petcard-name2">
                    {{ nombre_explode }} {{ apellido_explode }}
                  </div>
                  <div class="petcard-name3">
                    RockoFriend
                  </div>
                </div>
                <div class="petcard-coordinates">
                  12°20’01.2”S76°49’38.8”W
                </div>
              </div>
            </div>
          </div>
          <div class="petcard-item petcard-item-text">
            <h4 class="petcard-head">
              ¡Bienvenid{{ genero_l }} a
              <br />
              la comunidad
              <br />
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container" v-if="etapa1">
        <div class="row">
          <div class="col--12">
            <div class="step">
              <ul class="progreso">
                <li>
                  <span></span>
                  Paso 1
                </li>
                <li class="active">
                  <span></span>
                  Paso 2
                </li>
                <li>
                  <span></span>
                  Paso 3
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col--12">
            <h4 class="petcard-head">
              ¡Bienvenid{{ genero_l }} a la comunidad
              <br />
              RockoFriends!
            </h4>
          </div>
        </div> -->

        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <a href="" class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" alt="" />
                </a>
                <img src="@/assets/img/icono-user.png" alt="" />
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head" style="text-transform: capitalize !important">
                  ¡Hola{{ usuario.nombre }}!
                </h4>
                <div class="profile-coins">
                  <span>
                    Al completar tu registro te regalamos 50 <br />
                    Rockocoins de descuento.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Información Adicional</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="" />
                    <input type="text" name="" placeholder="Profesión" v-model="profesion" maxlength="30" id="" />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/aros.png" alt="" />

                    <select name="select" class="select" v-model="estado_civil">
                      <option value="0">Estado civil</option>
                      <option value="1">Soltero</option>
                      <option value="2">Casado</option>
                      <option value="3">Divorciado</option>
                      <option value="4">Viudo</option>
                      <option value="5">Prefiero no decirlo</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <flat-pickr placeholder="Fecha de nacimiento" v-model="cumpleanos" :config="configs.wrap" :required="true"
                      @on-change="listenToOnChangeEvent" ref="datePickerWrap">
                    </flat-pickr>
                    <!-- <input
                      type="date"
                      name=""
                      placeholder="Cumpleaños"
                      v-model="cumpleanos"
                      id=""
                      max="2004-12-31"
                    /> -->
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select name="select" class="select" v-model="nacimiento">
                      <option value="0" selected>País de nacimiento</option>
                      <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select name="select" class="select" v-model="pais" @change="verificarPais">
                      <option value="0" selected>País de residencia</option>
                      <option :value="pais.id" v-for="pais in paises" :key="pais.id">
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="departamento" @change="getProvincia()" :disabled="peru"
                      class="select">
                      <option value="0" selected>Departamento</option>
                      <option :value="depart.id" v-for="depart in departamentos" :key="depart.id">
                        {{ depart.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="provincia" @change="getDistrito()" :disabled="peru" class="select">
                      <option value="0" selected>Provincia</option>
                      <option :value="provincia.id" :key="provincia.id" v-for="provincia in provincias">
                        {{ provincia.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select name="select" v-model="distrito" :disabled="peru" class="select">
                      <option value="0" selected>Distrito</option>
                      <option :value="distrito.id" :key="distrito.id" v-for="distrito in distritos">
                        {{ distrito.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field w-80">
                    <img src="@/assets/img/ubicacion-2.png" alt="" />
                    <input type="text" name="" v-model="domicilio" placeholder="Domicilio" maxlength="50" id="" />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="error" style="color: red; margin-left: 10rem; margin-top: 1rem">
                  Tu cumpleaños, País de Nacimiento y País de Residencia son
                  obligatorios!
                </p>
                <input type="button" class="btn" value="Continuar" v-on:click="storeAdicionales()" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container" v-if="etapa2">
        <div class="row" style="margin-bottom: 2rem">
          <div class="col--12">
            <div class="step">
              <ul class="progreso">
                <li>
                  <span></span>
                  Paso 1
                </li>
                <li>
                  <span></span>
                  Paso 2
                </li>
                <li class="active">
                  <span></span>
                  Paso 3
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <a href="" class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" alt="" />
                </a>
                <img src="@/assets/img/foto-gato.png" alt="" />
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head">¡No olvides a tu engreído!</h4>
                <div class="profile-coins">
                  <span> Ahora, disfruten juntos los beneficios </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-if="mostrar_mascotas">
          <div class="col--12" v-for="mascota in mascotas" :key="mascota.id">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <h3 class="form-title form-title-icono">
                    <input type="text" v-model="mascota.apodo" class="input-apodo" ref="apodo" />

                    <img src="@/assets/img/icono-lapiz.png" @click="focusApodo()" alt="" />
                  </h3>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />

                    <select name="select" class="select" v-model="mascota.tipo">
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="" />
                    <input type="text" name="" v-model="mascota.nombre" placeholder="Nombre del engreído" id="" />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="" />

                    <select name="select" class="select" v-model="mascota.sexo">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />
                    <input type="text" name="" v-model="mascota.raza" placeholder="Raza" id="" />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <flat-pickr placeholder="Cumpleaños" v-model="mascota.cumpleanos" :config="configs.wrap"
                      :required="true" @on-change="listenToOnChangeEvent" ref="datePickerWrap">
                    </flat-pickr>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="" />
                    <input type="text" name="" v-model="mascota.hobbie" placeholder="Hobbie" id="" />
                  </div>

                  <div style="width: 100%">
                    <p v-if="error2" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-content"></div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <h3 class="form-title form-title-icono">
                    <input type="text" v-model="apodo" class="input-apodo" ref="apodo" />

                    <img src="@/assets/img/icono-lapiz.png" @click="focusApodo()" alt="" />
                  </h3>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />

                    <select name="select" class="select" v-model="tipo_mascota">
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="" />
                    <input type="text" name="" v-model="nombre" placeholder="Nombre del engreído" id="" />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="" />

                    <select name="select" class="select" v-model="sexo">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />
                    <input type="text" name="" v-model="raza" placeholder="Raza" id="" />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <flat-pickr placeholder="Cumpleaños" v-model="cumple" :config="configs.wrap" :required="true"
                      @on-change="listenToOnChangeEvent" ref="datePickerWrap">
                    </flat-pickr>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="" />
                    <input type="text" name="" v-model="hobbie" placeholder="Hobbie" id="" />
                  </div>

                  <div style="width: 100%">
                    <p v-if="error2" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>

                  <!-- <input style="margin-top: -1rem" type="button" class="btn" value="Guardar Mascota"
                    v-on:click="validatMascota()" /> -->
                </div>
              </div>
              <div class="form-content">
                <span @click="nuevaMascota()" class="link-addmore">
                  <img src="@/assets/img/icono-plus-circle.svg" alt="" />
                  Agregar más
                </span>
                <div class="form-field-btn">
                  <input type="button" class="btn" value="Finalizar" v-on:click="finalizar()" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

//para funcionar el campo de date
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Hindi as HindiLocale } from "flatpickr/dist/l10n/hi.js";
import { english as EnglishLocale } from "flatpickr/dist/l10n/default.js";
import ConfirmDatePlugin from "flatpickr/dist/plugins/confirmDate/confirmDate.js";
import "flatpickr/dist/plugins/confirmDate/confirmDate.css";
import monthSelectPlugin from "flatpickr/dist/plugins/monthSelect/index.js";
import "flatpickr/dist/plugins/monthSelect/style.css";

export default {
  components: {
    Menu,
    Footer,
    flatPickr,
  },
  data() {
    return {
      peru: true,
      uuid: this.$route.params.uuid,
      usuario: "",
      paises: [],
      departamentos: [],
      pais: 0,
      nacimiento: 0,
      departamento: 0,
      distrito: 0,
      provincia: 0,
      provincias: [],
      distritos: [],
      profesion: "",
      cumpleanos: "",
      domicilio: "",
      etapa1: true,
      etapa2: false,
      estado_civil: 0,
      nacimiento: 0,
      tipo_mascota: 0,
      nombre: "",
      cumple: "",
      edad: "",
      id_usuario: "",
      genero_l: "",
      nombre_explode: "",
      apellido_explode: "",
      error: false,
      error2: false,
      sexo: 0,
      raza: "",
      hobbie: "",
      apodo: "Mascota 1",
      mostrar_mascotas: "",
      mascotas: [],
      form: {
        dateBasic: null,
        dateTime: null,
        time: null,

        dateLocale: null,
        dateInline: +new Date(),
        dateConfirm: null,
        allowInput: null,
        dateStart: null,
        dateEnd: null,
        monthSelect: null,
      },
      configs: {
        basic: {},
        wrap: {
          wrap: true,
          altFormat: "M j, Y",
          altInput: true,
          dateFormat: "Y-m-d",
        },
        locale: {
          // https://flatpickr.js.org/localization//
          locale: HindiLocale,
          // https://flatpickr.js.org/events/
          onChange: this.onChange,
        },
        inline: {
          inline: true,
        },
        confirmPlugin: {
          enableTime: true,
          // https://flatpickr.js.org/plugins/
          plugins: [new ConfirmDatePlugin()],
        },
        allowInput: {
          allowInput: true,
          dateFormat: "Y-m-d",
        },
        start: {
          minDate: new Date(),
          maxDate: null,
        },
        end: {
          minDate: null,
        },
        monthSelect: {
          plugins: [
            new monthSelectPlugin({
              shorthand: true,
              dateFormat: "m/Y",
            }),
          ],
        },
      },
    };
  },
  created() {
    this.activateAccount();
    this.getPaises();
    localStorage.uuid = this.uuid;
  },
  mounted() { },
  methods: {
    activateAccount() {
      axios
        .get("https://admin.eldepaderocko.com/api/getUsuario/" + this.uuid)
        .then((response) => {
          this.usuario = response.data;
          const nombre = this.usuario.nombre;
          const nombre_exp = nombre.split(" ");
          this.nombre_explode = nombre_exp[0];
          const apellido = this.usuario.apellido;
          const apellido_exp = apellido.split(" ");
          this.apellido_explode = apellido_exp[0];
          if (this.usuario.id < 10) {
            this.id_usuario = "000" + this.usuario.id;
          }
          if (this.usuario.id >= 10 && this.usuario.id <= 99) {
            this.id_usuario = "00" + this.usuario.id;
          }
          if (this.usuario.id >= 100 && this.usuario.id <= 999) {
            this.id_usuario = "0" + this.usuario.id;
          }
          if (this.usuario.id >= 1000 && this.usuario.id <= 9999) {
            this.id_usuario = this.usuario.id;
          }
          if (this.usuario.genero == 1) {
            this.genero_l = "o";
          }
          if (this.usuario.genero == 2) {
            this.genero_l = "a";
          }
          if (this.usuario.genero == 3) {
            this.genero_l = "e";
          }

          if (response.data.adicionales != null) {
            this.profesion = response.data.adicionales.profesion;
            this.estado_civil = response.data.adicionales.estado_civil;
            this.cumpleanos = response.data.adicionales.cumpleanos;
            this.nacimiento = response.data.adicionales.pais_nacimiento;
            this.pais = response.data.adicionales.pais_residencia;
            this.verificarPais()
            this.getDepartamentos()
            this.departamento = response.data.adicionales.id_departamento;
            this.getProvincia()
            this.provincia = response.data.adicionales.id_provincia;
            this.getDistrito()
            this.distrito = response.data.adicionales.id_distrito;
            this.domicilio = response.data.adicionales.domicilio;
          }
        });
    },

    getPaises() {
      axios
        .get("https://admin.eldepaderocko.com/api/getPaises")
        .then((response) => {
          this.paises = response.data;
        });
    },

    verificarPais() {
      console.log(this.pais);
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      } else {
        this.peru = true;
      }
    },

    getDepartamentos() {
      axios
        .get("https://admin.eldepaderocko.com/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },

    getProvincia() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/getProvincias/" +
          this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
        });
    },

    getDistrito() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
        });
    },

    storeAdicionales() {
      const params = {
        profesion: this.profesion,
        cumpleanos: this.cumpleanos,
        pais: this.pais,
        departamento: this.departamento,
        provincia: this.provincia,
        domicilio: this.domicilio,
        distrito: this.distrito,
        uuid: this.uuid,
        estado_civil: this.estado_civil,
        nacimiento: this.nacimiento,
      };

      if (this.cumpleanos && this.pais && this.nacimiento) {
        axios
          .post("https://admin.eldepaderocko.com/api/storeAdicionales", params)
          .then((response) => {
            if (response.data == 200) {
              this.etapa1 = false;
              this.etapa2 = true;
            }
          });
      } else {
        this.error = true;
      }
    },

    validatMascota() {
      if (this.tipo_mascota || this.nombre) {
        if (this.tipo_mascosta != 0 && this.nombre) {
          this.storeMascota();
        } else {
          this.error2 = true;
        }
      }
    },

    nuevaMascota() {
      axios
        .get("https://admin.eldepaderocko.com/api/getMascotas/" + this.uuid)
        .then((response) => {
          console.log(response.data);
          this.mascotas = response.data;
          this.mostrar_mascotas = true;
        });
    },

    storeMascota() {
      const params = {
        tipo_mascota: this.tipo_mascota,
        nombre: this.nombre,
        cumple: this.cumple,
        sexo: this.sexo,
        raza: this.raza,
        hobbie: this.hobbie,
        apodo: this.apodo,
        uuid: this.uuid,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/storeMascota", params)
        .then((response) => {
          if (this.mostrar_mascotas == true) {
            this.tipo_mascota = 0
            this.nombre = ""
            this.cumple = ""
            this.sexo = 0
            this.raza = ""
            this.hobbie = ""
            apodo: this.apodo = " Mascota 1"
            axios
              .get(
                "https://admin.eldepaderocko.com/api/getMascotas/" + this.uuid
              )
              .then((response) => {
                console.log(response.data);
                this.mascotas = response.data;
                this.mostrar_mascotas = true;
              });
          }
        });
    },

    focusApodo() {
      this.$refs.apodo.focus();
    },

    finalizar() {
      window.location.href = "https://prefront.eldepaderocko.com/perfil";
    },

    //para hacer funcionar el campo

    setNewDate() {
      console.log("Set new date");
      this.form.dateBasic = new Date();
    },
    updateConfig() {
      console.log("Update config");
      this.configs.basic.mode = "range";
    },
    changeLocale() {
      console.log("Changing locale to english");
      this.configs.locale.locale = EnglishLocale;
    },
    onChange(selectedDates, dateStr, instance) {
      console.log("Date change hook was called", dateStr);
    },
    listenToOnChangeEvent(selectedDates, dateStr, instance) {
      console.log("listen To OnChange Event", dateStr);
    },
    submit() {
      console.log("Form submit event", this.form);
    },
    onStartChange(selectedDates, dateStr, instance) {
      this.configs.end.minDate = dateStr;
    },
    onEndChange(selectedDates, dateStr, instance) {
      this.configs.start.maxDate = dateStr;
    },
  },
};
</script>
