<template>
  <body>
    <Menu />
    <section class="portada-perfil 0">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="group-petcard">
          <div class="petcard-item">
            <div class="petcard">
              <div class="petcard-title">
                RockoCard
              </div>
              <div class="petcard-number">
                <span>0000</span>
                <span>0000</span>
                <span>0000</span>
                <span>0005</span>
              </div>
              <div class="petcard-value">
                <div class="petcard-name">
                  <div class="petcard-name1">
                    AFILIADO DESDE
                    <b>2022</b>
                  </div>
                  <div class="petcard-name2">
                    {{ nombre_explode }} {{ apellido_explode }}
                  </div>
                  <div class="petcard-name3">
                    RockoFriend
                  </div>
                </div>
                <div class="petcard-coordinates">
                  12°20’01.2”S76°49’38.8”W
                </div>
              </div>
            </div>

            <!-- <div class="card-qr">
              <div class="petcard-item">
                <div class="title-card">
                  <h5>R O C K O C A R D</h5>
                </div>
              </div>
              <div class="number-card">
                <ul>
                  <li>0000</li>
                  <li>0000</li>
                  <li>0000</li>
                  <li>{{ id_usuario }}</li>
                </ul>
              </div>
              <div class="name-card">
                <div class="text">
                  <p>AFILIADO DESDE <b>2022</b></p>
                  <span style="text-transform: uppercase !important"
                    >{{ nombre_explode }} {{ apellido_explode }}</span
                  >
                  <p>l ROCKOFRIEND l</p>
                </div>
                <div class="number">
                  <p>12°20’01.2”S76°49’38.8”W</p>
                </div>
              </div>
            </div> -->
          </div>
          <div class="petcard-item petcard-item-text">
            <h4 class="petcard-head">
              ¡Bienvenid{{ genero_l }} a
              <br />
              la comunidad
              <br />
              <span>RockoFriends!</span>
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!--Codigo registro-->
    <section class="section-profile">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-image">
                <a href="" class="profile-image-edit">
                  <img src="@/assets/img/icono-camara.svg" alt="" />
                </a>
                <img src="@/assets/img/foto-gato.png" alt="" />
              </div>
              <div class="profile-title">
                <h4 class="profile-title-head">Hola {{ nombre_explode }}</h4>
                <div class="profile-coins">
                  <img src="@/assets/img/icono-rockocoin.png" alt="" />
                  <span> Rockocoins: 50 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Datos Personales</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="nombre"
                      placeholder="Nombre"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-usuario.svg" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="apellido"
                      placeholder="Apellido"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="documento"
                      placeholder="DNI"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-genero.png" alt="" />

                    <select name="select" v-model="genero" class="select">
                      <option value="0">Género</option>
                      <option value="1">Hombre</option>
                      <option value="2">Mujer</option>
                      <option value="3">Prefiero no decirlo</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/msg.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="correo"
                      placeholder="Correo"
                      @blur="verificarCorreo()"
                    />
                    <br />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/phone.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="celular"
                      placeholder="Número de celular"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="" />
                    <input
                      :type="tipo_clave"
                      name=""
                      v-model="clave"
                      placeholder="Contraseña"
                    />
                    <img
                      src="@/assets/img/icono-ojo.png"
                      @click="cambiarcampo()"
                      alt=""
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/candado.png" alt="" />
                    <input
                      :type="tipo_clave2"
                      name=""
                      v-model="repetir"
                      placeholder="Confirmar contraseña"
                    />
                    <img
                      src="@/assets/img/icono-ojo.png"
                      @click="cambiarcampo2()"
                      alt=""
                    />
                  </div>
                  <p v-if="datos_basicos">
                    Sus datos han sido actualizados correctamente.
                  </p>
                  <p v-if="correo_existe" style="color: red; font-weight: 700">
                    Este correo ya existe en nuestra base de datos.
                  </p>
                </div>
              </div>
              <input
                type="button"
                value="Guardar"
                @click="guardarDatosBasicos()"
                class="btn"
              />
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <h3 class="form-title">Información Adicional</h3>
                <div class="form-content">
                  <div class="form-field">
                    <img src="@/assets/img/icono-profesion.png" alt="" />
                    <input
                      type="text"
                      name=""
                      placeholder="Profesión"
                      v-model="profesion"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-estado-civil.png" alt="" />

                    <select name="select" class="select" v-model="estado_civil">
                      <option value="0">Estado civil</option>
                      <option value="1">Soltero</option>
                      <option value="2">Casado</option>
                      <option value="3">Divorciado</option>
                      <option value="4">Viudo</option>
                      <option value="5">Prefiero no decirlo</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <input
                      type="date"
                      name=""
                      placeholder="Cumpleaños"
                      v-model="cumpleanos"
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select name="select" class="select" v-model="nacimiento">
                      <option value="0" selected>País de nacimiento</option>
                      <option
                        :value="pais.id"
                        v-for="pais in paises"
                        :key="pais.id"
                      >
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-mundo.png" alt="" />

                    <select
                      name="select"
                      class="select"
                      v-model="pais"
                      @change="verificarPais"
                    >
                      <option value="0" selected>País de residencia</option>
                      <option
                        :value="pais.id"
                        v-for="pais in paises"
                        :key="pais.id"
                      >
                        {{ pais.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select
                      name="select"
                      v-model="departamento"
                      @change="getProvincia()"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Departamento</option>
                      <option
                        :value="depart.id"
                        v-for="depart in departamentos"
                        :key="depart.id"
                      >
                        {{ depart.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select
                      name="select"
                      v-model="provincia"
                      @change="getDistrito()"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Provincia</option>
                      <option
                        :value="provincia.id"
                        :key="provincia.id"
                        v-for="provincia in provincias"
                      >
                        {{ provincia.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />

                    <select
                      name="select"
                      v-model="distrito"
                      :disabled="peru"
                      class="select"
                    >
                      <option value="0" selected>Distrito</option>
                      <option
                        :value="distrito.id"
                        :key="distrito.id"
                        v-for="distrito in distritos"
                      >
                        {{ distrito.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-ubicacion.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="domicilio"
                      placeholder="Domicilio"
                    />
                  </div>
                </div>
              </div>
              <div class="form-field-btn">
                <p v-if="datos_adicionales">
                  Sus datos han sido actualizados correctamente.
                </p>
                <input
                  type="button"
                  class="btn"
                  value="Guardar"
                  v-on:click="storeAdicionales()"
                />
              </div>
            </form>
          </div>
        </div>

        <div class="row" v-if="mostrar_mascotas">
          <div class="col--12" v-for="mascota in mascotas" :key="mascota.id">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <h3 class="form-title form-title-icono">
                    <input
                      type="text"
                      v-model="mascota.apodo"
                      class="input-apodo"
                      ref="apodo"
                    />

                    <img
                      src="@/assets/img/icono-lapiz.png"
                      @click="focusApodo()"
                      alt=""
                    />
                  </h3>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />

                    <select name="select" class="select" v-model="mascota.tipo">
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.nombre"
                      placeholder="Nombre del engreído"
                      id=""
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="" />

                    <select name="select" class="select" v-model="mascota.sexo">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.raza"
                      placeholder="Raza"
                      id=""
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <flat-pickr
                      placeholder="Cumpleaños"
                      v-model="mascota.cumpleanos"
                      :config="configs.wrap"
                      :required="true"
                      @on-change="listenToOnChangeEvent"
                      ref="datePickerWrap"
                    >
                    </flat-pickr>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="mascota.hobbie"
                      placeholder="Hobbie"
                      id=""
                    />
                  </div>

                  <div style="width: 100%">
                    <p v-if="error2" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-content"></div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col--12">
            <form action="" class="form-perfil">
              <div class="form">
                <div class="form-content">
                  <h3 class="form-title form-title-icono">
                    <input
                      type="text"
                      v-model="apodo"
                      class="input-apodo"
                      ref="apodo"
                    />

                    <img
                      src="@/assets/img/icono-lapiz.png"
                      @click="focusApodo()"
                      alt=""
                    />
                  </h3>
                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />

                    <select
                      name="select"
                      class="select"
                      v-model="tipo_mascota_mascota"
                    >
                      <option value="0">Tipo</option>
                      <option value="1">Gato</option>
                      <option value="2">Perro</option>
                      <option value="3">Hámster</option>
                      <option value="4">Conejo</option>
                      <option value="5">Ave</option>
                      <option value="6">Pez</option>
                      <option value="7">Puercoespín</option>
                      <option value="8">Otro</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-tarjeta.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="nombre_mascota"
                      placeholder="Nombre del engreído"
                      id=""
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/genero-1.png" alt="" />

                    <select name="select" class="select" v-model="sexo_mascota">
                      <option value="0">Sexo</option>
                      <option value="1">Macho</option>
                      <option value="2">Hembra</option>
                    </select>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-huella.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="raza_mascota"
                      placeholder="Raza"
                      id=""
                    />
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/icono-calendario.png" alt="" />
                    <flat-pickr
                      placeholder="Cumpleaños"
                      v-model="cumple_mascota"
                      :config="configs.wrap"
                      :required="true"
                      @on-change="listenToOnChangeEvent"
                      ref="datePickerWrap"
                    >
                    </flat-pickr>
                  </div>

                  <div class="form-field">
                    <img src="@/assets/img/hobbie.png" alt="" />
                    <input
                      type="text"
                      name=""
                      v-model="hobbie_mascota"
                      placeholder="Hobbie"
                      id=""
                    />
                  </div>

                  <div style="width: 100%">
                    <p v-if="error2" style="color: red">
                      Para registrar una mascota es obligatorio el nombre y su
                      tipo!
                    </p>
                  </div>

                  <!-- <input
                    style="margin-top: -1rem"
                    type="button"
                    class="btn"
                    value="Guardar Mascota"
                    v-on:click="validatMascota()"
                  /> -->
                </div>
              </div>
              <div class="form-content">
                <span @click="nuevaMascota()" class="link-addmore">
                  <img src="@/assets/img/icono-plus-circle.svg" alt="" />
                  Agregar más
                </span>
              </div>
              
              <div class="form-field-btn">
                <p v-if="datos_adicionales">
                  Sus datos han sido actualizados correctamente.
                </p>
                <input
                  type="button"
                  class="btn"
                  value="Guardar"
                  v-on:click="validatMascota()"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>

  <!-- <Modal v-show="showModal" /> -->

  <div class="col--12 modal-overlay" v-show="showModal">
    <div class="modal-content">
      <div class="modal-head">
        <div class="modal-image">
          <img src="@/assets/img/logo-rosa.svg" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <p>
          <b>RockoFriend</b>, hemos registrado tu solicitud correctamente, para
          terminar el proceso hemos enviado un correo de confirmación a tu nueva
          cuenta de correo.
        </p>
        <span @click="validarCambioEmail()" class="btn"> Gracias </span>
      </div>
    </div>
  </div>


  <div class="col--12 modal-overlay" v-show="showModal2">
    <div class="modal-content">
      <div class="modal-head">
        <div class="modal-image">
          <img src="@/assets/img/logo-rosa.svg" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <p>
          <b>RockoFriend</b>, hemos actualizado tus datos correctamente
        </p>
        <span @click="showModal2 = false" class="btn"> Gracias </span>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

//para funcionar el campo de date
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Hindi as HindiLocale } from "flatpickr/dist/l10n/hi.js";
import { english as EnglishLocale } from "flatpickr/dist/l10n/default.js";
import ConfirmDatePlugin from "flatpickr/dist/plugins/confirmDate/confirmDate.js";
import "flatpickr/dist/plugins/confirmDate/confirmDate.css";
import monthSelectPlugin from "flatpickr/dist/plugins/monthSelect/index.js";
import "flatpickr/dist/plugins/monthSelect/style.css";

export default {
  components: {
    Menu,
    Footer,
    flatPickr,
  },
  data() {
    return {
      showModal: false,
      perfil: "",
      paises: [],
      departamentos: [],
      provincias: [],
      distritos: [],
      adicionales: "",
      mascostas: [],
      nombre: "",
      apellido: "",
      documento: "",
      genero: "",
      correo: "",
      celular: "",
      tipo_clave: "password",
      profesion: "",
      estado_civil: "",
      cumpleanos: "",
      nacimiento: "",
      pais: "",
      departamento: 0,
      provincia: 0,
      distrito: 0,
      domicilio: "",
      peru: true,
      tipo_mascota: 0,
      nombre_mascota: "",
      cumple: "",
      edad: "",
      clave: "",
      repetir: "",
      id_usuario: 0,
      genero_l: "e",
      nombre_explode: "",
      apellido_explode: "",
      seguridad: "",
      tipo_clave: "password",
      tipo_clave2: "password",
      datos_basicos: false,
      datos_adicionales: false,
      tipo_mascota: 0,
      nombre_mascota: "",
      cumple: "",
      edad: "",
      addMascota: false,
      uuid: "",
      correo_existe: false,
      mostrar_mascotas: true,
      mascotas: [],
      apodo: "Mascota 1",
      tipo_mascota: 0,
      nombre_mascota: "",
      sexo_mascota: 0,
      raza_mascota: "",
      hobbie_mascota: "",
      tipo_mascota_mascota: 0,
      cambioEmail: false,
      correoOriginal: "",
      showModal2: false,

      form: {
        dateBasic: null,
        dateTime: null,
        time: null,

        dateLocale: null,
        dateInline: +new Date(),
        dateConfirm: null,
        allowInput: null,
        dateStart: null,
        dateEnd: null,
        monthSelect: null,
      },
      configs: {
        basic: {},
        wrap: {
          wrap: true,
          altFormat: "M j, Y",
          altInput: true,
          dateFormat: "Y-m-d",
        },
        locale: {
          // https://flatpickr.js.org/localization//
          locale: HindiLocale,
          // https://flatpickr.js.org/events/
          onChange: this.onChange,
        },
        inline: {
          inline: true,
        },
        confirmPlugin: {
          enableTime: true,
          // https://flatpickr.js.org/plugins/
          plugins: [new ConfirmDatePlugin()],
        },
        allowInput: {
          allowInput: true,
          dateFormat: "Y-m-d",
        },
        start: {
          minDate: new Date(),
          maxDate: null,
        },
        end: {
          minDate: null,
        },
        monthSelect: {
          plugins: [
            new monthSelectPlugin({
              shorthand: true,
              dateFormat: "m/Y",
            }),
          ],
        },
      },
    };
  },
  created() {
    if (!localStorage.uuid) {
      this.redirect();
    } else {
      this.cargar();
      this.nuevaMascota();
    }
  },
  mounted() {
    this.uuid = localStorage.uuid;
  },
  methods: {
    validatMascota() {
      if (this.tipo_mascota || this.nombre) {
        if (this.tipo_mascosta != 0 && this.nombre) {
          this.storeMascota();
        } else {
          this.error2 = true;
        }
      }
    },

    validarCambioEmail() {
        localStorage.clear();
        window.location.href = "https://prefront.eldepaderocko.com/login";
    },

    storeMascota() {
      const params = {
        tipo_mascota: this.tipo_mascota_mascota,
        nombre: this.nombre_mascota,
        cumple: this.cumple_mascota,
        sexo: this.sexo_mascota,
        raza: this.raza_mascota,
        hobbie: this.hobbie_mascota,
        apodo: this.apodo,
        uuid: this.uuid,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/storeMascota", params)
        .then((response) => {
          if (this.mostrar_mascotas == true) {
            this.tipo_mascota_mascota = 0;
            this.nombre_mascota = "";
            this.cumple_mascota = "";
            this.sexo_mascota = 0;
            this.raza_mascota = "";
            this.hobbie_mascota = "";
            this.apodo = " Mascota 1";
            axios
              .get(
                "https://admin.eldepaderocko.com/api/getMascotas/" + this.uuid
              )
              .then((response) => {
                console.log(response.data);
                this.mascotas = response.data;
                this.mostrar_mascotas = true;
              });
          }
        });
    },

    focusApodo() {
      this.$refs.apodo.focus();
    },

    nuevaMascota() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/getMascotas/" + localStorage.uuid
        )
        .then((response) => {
          console.log(response.data);
          this.mascotas = response.data;
          this.mostrar_mascotas = true;
        });
    },
    verificarCorreo() {
      axios
        .get("https://admin.eldepaderocko.com/api/validarCorreo/" + this.correo)
        .then((response) => {
          if (response.data == 1) {
            this.correo_existe = true;
          } else {
            this.correo_existe = false;
          }
        });
    },
    agregarMascota() {
      this.addMascota = true;
    },
    validarClave() {
      const regex = /^(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ]/;
      if (regex.test(this.clave)) {
        this.seguridad = 0;
      } else {
        this.seguridad =
          "La clave debe contener al menos una letra mayúscula, una letra minúscula, y números";
      }
    },
    guardarDatosBasicos() {
      const params = {
        nombre: this.nombre,
        apellido: this.apellido,
        documento: this.documento,
        genero: this.genero,
        celular: this.celular,
        clave: this.clave,
        uuid: localStorage.uuid,
      };
      if(this.correo_existe == false){
      axios
        .post("https://admin.eldepaderocko.com/api/update-basicios", params)
        .then((response) => {


          if (this.correoOriginal != this.correo && this.correo_existe == false) {
            const params = {
              correoActual: this.correoOriginal,
              correoNuevo: this.correo
            }
            console.log(params)
            axios.post('https://admin.eldepaderocko.com/api/updateEmail', params).then((response) => {
              console.log(response)
              if (response.data == 200) {
                this.showModal = true
              }
            })
          }
          else {
            this.showModal2 = true
          }
        });
    }
    },
    storeAdicionales() {
      const params = {
        profesion: this.profesion,
        estado_civil: this.estado_civil,
        cumpleanos: this.cumpleanos,
        nacimiento: this.nacimiento,
        pais: this.pais,
        departamento: this.departamento,
        provincia: this.provincia,
        distrito: this.distrito,
        domicilio: this.domicilio,
        uuid: localStorage.uuid,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/update-adicionales", params)
        .then((response) => {
          if (response.data == 200) {
            this.showModal2 = true
          }
        });
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    cambiarcampo2() {
      if (this.tipo_clave2 == "password") {
        this.tipo_clave2 = "text";
      } else {
        this.tipo_clave2 = "password";
      }
    },
    redirect() {
      window.location.href = "https://prefront.eldepaderocko.com/login";
    },
    verificarPais() {
      console.log(this.pais);
      if (this.pais == 174) {
        this.peru = false;
        this.getDepartamentos();
      }
    },

    getPaises() {
      axios
        .get("https://admin.eldepaderocko.com/api/getPaises")
        .then((response) => {
          this.paises = response.data;
          this.pais = this.pais;
        });
    },

    getDepartamentos() {
      axios
        .get("https://admin.eldepaderocko.com/api/getDepartamentos")
        .then((response) => {
          this.departamentos = response.data;
        });
    },

    getProvincia() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/getProvincias/" +
            this.departamento
        )
        .then((response) => {
          this.provincias = response.data;
        });
    },

    getDistrito() {
      axios
        .get(
          "https://admin.eldepaderocko.com/api/getDistritos/" + this.provincia
        )
        .then((response) => {
          this.distritos = response.data;
        });
    },

    cargar() {
       this.getPerfil();
       this.getPaises();
    },

    getPerfil() {
      const params = {
        uuid: localStorage.uuid,
      };
      axios
        .post("https://admin.eldepaderocko.com/api/getPerfil", params)
        .then((response) => {
          this.perfil = response.data;
          this.mascotas = response.data.mascotas;
          this.adicionales = response.data.adicionales;

          const nombre = this.perfil.nombre;
          const nombre_exp = nombre.split(" ");
          this.nombre_explode = nombre_exp[0];
          const apellido = this.perfil.apellido;
          const apellido_exp = apellido.split(" ");
          this.apellido_explode = apellido_exp[0];

          this.nombre = this.perfil.nombre;
          this.apellido = this.perfil.apellido;
          this.documento = this.perfil.documento;
          this.genero = this.perfil.genero;
          if (this.genero == 1) {
            this.genero_l = "o";
          }
          if (this.genero == 2) {
            this.genero_l = "a";
          }
          if (this.genero == 3) {
            this.genero_l = "e";
          }
          this.correo = this.perfil.correo;
          this.correoOriginal = this.perfil.correo;
          this.celular = this.perfil.celular;

          this.profesion = this.adicionales.profesion;
          this.estado_civil = this.adicionales.estado_civil;
          this.cumpleanos = this.adicionales.cumpleanos;
          this.nacimiento = this.adicionales.pais_nacimiento;
          this.pais = this.adicionales.pais_residencia;
          this.verificarPais()
            this.getDepartamentos()
            this.departamento = response.data.adicionales.id_departamento;
            this.getProvincia()
            this.provincia = response.data.adicionales.id_provincia;
            this.getDistrito()
          
          this.domicilio = this.adicionales.domicilio;
          
          
          

          this.tipo_mascota = response.data.mascotas.tipo;
          this.nombre_mascota = response.data.mascotas.nombre;
          this.cumple = response.data.mascotas.cumpleanos;
          this.edad = response.data.mascotas.edad;
          if (this.perfil.id < 10) {
            this.id_usuario = "000" + this.perfil.id;
          }
          if (this.perfil.id >= 10 && this.perfil.id <= 99) {
            this.id_usuario = "00" + this.perfil.id;
          }
          if (this.perfil.id >= 100 && this.perfil.id <= 999) {
            this.id_usuario = "0" + this.perfil.id;
          }
          if (this.perfil.id >= 1000 && this.perfil.id <= 9999) {
            this.id_usuario = this.perfil.id;
          }

          if (this.pais == 174) {
          this.provincia = this.adicionales.id_provincia;
          this.distrito = this.adicionales.id_distrito;
          }
        });
    },
    storeMascota() {
      const params = {
        tipo_mascota: this.new_tipo_mascota,
        nombre: this.new_nombre_mascota,
        cumple: this.new_cumple,
        edad: this.new_edad,
        uuid: this.uuid,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/storeMascota", params)
        .then((response) => {
          window.location.href = "https://prefront.eldepaderocko.com/perfil";
        });
    },
  },
};
</script>


<style scoped>
.modal-content {
  margin-top: 10%;
  height: 350px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  margin: 20px 0;
}

button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 50px;
}
</style>