<template>
  <body>
    <Menu />

    <section class="portada-reclamaciones">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Libro de reclamaciones</div>
      </div>
    </section>

    <section>
      <div class="container">
        <form v-if="formulario">
          <div class="form ww">
            <div class="form-field label">
              <img src="@/assets/img/icono-usuario.svg" alt="" />

              <select
                name="select"
                v-model="tipo_persona"
                @change="cambiarCampos"
                class="select"
              >
                <option value="1" selected>Persona natural</option>
                <option value="2">Persona jurídica</option>
              </select>
            </div>

            <p class="form-field-error" v-if="razon_social_validar">
              Razon Social es requerido
            </p>
            <p class="form-field-error" v-if="ruc_validar">RUC es requerido</p>
            <p class="form-field-error" v-if="nombre_validar">
              Nombre es requerido
            </p>
            <p class="form-field-error" v-if="apellido_validar">
              Apellido es requerido
            </p>
            <p class="form-field-error" v-if="tipo_documento_validar">
              TIpo de documento es requerido
            </p>
            <p class="form-field-error" v-if="documento_validar">
              Documento es requerido
            </p>
            <p class="form-field-error" v-if="correo_validar">
              Correo es requerido
            </p>
            <p class="form-field-error" v-if="telefono_validar">
              Telefono es requerido
            </p>
            <p class="form-field-error" v-if="direccion_validar">
              Direccion es requerida
            </p>
            <p class="form-field-error" v-if="tipo_validar">
              Producto / Servicio es requerido
            </p>
            <p class="form-field-error" v-if="monto_validar">
              Monto es requerido
            </p>
            <p class="form-field-error" v-if="tipo_accion_validar">
              Queja / Reclamo es requerido
            </p>

            <div class="form-field label" v-if="juridica">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                v-model="razon_social"
                
                name=""
                placeholder="Razón Social"
                id=""
              />
            </div>

            <div class="form-field label" v-if="juridica">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                name=""
                v-model="ruc"
                
                placeholder="RUC"
                id=""
              />
            </div>

            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                name=""
                v-model="nombre"
                
                placeholder="Nombre(s)*"
                id=""
              />
            </div>

            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/icono-usuario.svg" alt="" />
              <input
                type="text"
                name=""
                v-model="apellido"
                
                placeholder="Apellidos*"
                id=""
              />
            </div>

            <div class="group-radio" v-if="natural">
              <label class="radio">
                <input
                  type="radio"
                  value="DNI  "
                  name="card"
                  v-model="tipo_documento"
                  
                  @change="text_documento = 'DNI '"
                  id=""
                />
                DNI
                <span></span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  value="CE"
                  name="card"
                  @change="text_documento = 'CE'"
                  
                  v-model="tipo_documento"
                  id=""
                />
                CE
                <span></span>
              </label>
            </div>

            <div class="form-field label" v-if="natural">
              <img src="@/assets/img/Vector.png" alt="" />
              <input
                type="text"
                name=""
                :placeholder="text_documento"
                
                v-model="documento"
                id=""
              />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/msg.png" alt="" />
              <input
                type="text"
                name=""
                placeholder="Correo*"
                
                v-model="correo"
                id=""
              />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/phone.png" alt="" />
              <input
                type="text"
                name=""
                placeholder="Teléfono*"
                v-model="telefono"
                
                id=""
              />
            </div>

            <div class="form-field label">
              <img src="@/assets/img/icono-ubicacion.png" alt="" />
              <input
                type="text"
                name=""
                placeholder="Dirección*"
                v-model="direccion"
                
                id=""
              />
            </div>

            <div class="comentario">
              <p>
                ° La respuesta de esta queja o reclamo se enviará &nbsp a traves
                del correo indicado
              </p>
            </div>
          </div>

          <div class="form">
            <div class="group-radio">
              <label class="radio">
                <input
                  type="radio"
                  name="tipo"
                  value="Servicio"
                  v-model="tipo"
                  
                  id=""
                />
                Servicio
                <span></span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="tipo"
                  value="Producto"
                  v-model="tipo"
                  
                  id=""
                />
                Producto
                <span></span>
              </label>
            </div>

            <div class="form-field label">
              <input
                type="number"
                max="99999"
                v-model="monto"
                
                step="0.01"
                placeholder="Monto (S/.)"
                id=""
              />
            </div>

            <div class="group-radio">
              <label class="radio">
                <input
                  type="radio"
                  name="tipo_accion"
                  value="QUEJA"
                  v-model="tipo_accion"
                  
                  id=""
                />
                Queja
                <span></span>
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="tipo_accion"
                  value="RECLAMO"
                  v-model="tipo_accion"
                  
                  id=""
                />
                Reclamo
                <span></span>
              </label>
            </div>

            <div class="parrafo parrafo-lr">
              <h4>¿Qué es una queja?</h4>
              <p>
                Es una disconformidad frente a una mala atención del proveedor,
                pero que no guarda relación directa con el producto o servicio
                adquirido.
              </p>
              <br />
              <h4>¿Qué es un reclamo?</h4>
              <p>
                Se produce cuando no estás conforme con el producto adquirido o
                servicio brindado. El proveedor tiene la obligación de darte una
                respuesta.
              </p>
            </div>

            <div class="form-field form-field-textarea">
              <label for="">
                <img src="@/assets/img/icono-word.png" alt="" />
                Detalle:
              </label>
              <textarea
                name=""
                id=""
                cols="50"
                v-model="detalle"
                rows="5"
              ></textarea>
            </div>

            <div class="form-field form-field-textarea">
              <label for="">
                <img src="@/assets/img/icono-word.png" alt="" />
                Pedido:
              </label>
              <textarea
                name=""
                id=""
                cols="50"
                v-model="pedido"
                rows="5"
              ></textarea>
            </div>
          </div>
          <button type="button" v-on:click="validarDatos()" class="btn">
            Enviar mensaje
          </button>

          <div class="parrafo-btn">
            <p class="text-btn">
              <i>
                Mejoramos cada día por <br />
                ustedes.
              </i>
            </p>
          </div>
        </form>
        <div class="row" v-if="modal">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.svg" alt="" />
                </div>
              </div>
              <div class="modal-body">
                <p>
                  Gracias por comunicarnos el inconveniente, nos pondremos en
                  contacto contigo muy pronto.
                </p>
                <a href="/" class="btn"> Gracias </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      tipo_persona: 1,
      juridica: false,
      natural: true,
      formulario: true,
      modal: false,
      text_documento: "DNI",
      razon_social_validar: false,
      ruc_validar: false,
      correo: '',
      telefono: '',
      direccion: '',
      tipo: '',
      monto: '',
      tipo_accion: '',
      detalle: '',
      pedido: '',
      nombre_validar: false,
      apellido_validar: false,
      tipo_documento_validar: false,
      documento_validar: false,
      razon_social_validar: false,
      ruc_validar: false,
      correo_validar: false,
      telefono_validar: false,
      direccion_validar: false,
      tipo_validar: false, 
      monto_validar: false,
      tipo_accion_validar: false,
      nombre: '',
      apellido: '',
      tipo_documento: '',
      documento: '',
      razon_social: '',
      ruc: '',
    };
  },
  mounted() {},
  methods: {
    validarDatos() {
      if (this.juridica == true) {
        if (this.razon_social) {
          this.razon_social_validar = false;
        } else {
          this.razon_social_validar = true;
        }
        if (this.ruc) {
          this.ruc_validar = false;
        } else {
          this.ruc_validar = true;
        }
        if (this.correo) {
          this.correo_validar = false;
        } else {
          this.correo_validar = true;
        }
        if (this.telefono) {
          this.telefono_validar = false;
        } else {
          this.telefono_validar = true;
        }
        if (this.direccion) {
          this.direccion_validar = false;
        } else {
          this.direccion_validar = true;
        }

        if(this.tipo){ this.tipo_validar = false} else{ this.tipo_validar = true }
        if(this.monto){ this.monto_validar = false} else{ this.monto_validar = true }
        if(this.tipo_accion){ this.tipo_accion_validar = false} else{ this.tipo_accion_validar = true }

        if (
          this.razon_social_validar == false &&
          this.ruc_validar == false &&
          this.correo_validar == false &&
          this.telefono_validar == false &&
          this.direccion_validar == false &&
          this.tipo_validar == false &&
          this.monto_validar == false &&
          this.tipo_accion_validar == false 
        )
        {
          this.enviarEmail()
        }
        else {
          console.log("error")
        }
      }

      if (this.natural == true) {
        if (this.nombre) {
          this.nombre_validar = false;
        } else {
          this.nombre_validar = true;
        }
        if (this.apellido) {
          this.apellido_validar = false;
        } else {
          this.apellido_validar = true;
        }
        if (this.tipo_documento) {
          this.tipo_documento_validar = false;
        } else {
          this.tipo_documento_validar = true;
        }
        if (this.documento) {
          this.documento_validar = false;
        } else {
          this.documento_validar = true;
        }
        if (this.correo) {
          this.correo_validar = false;
        } else {
          this.correo_validar = true;
        }
        if (this.telefono) {
          this.telefono_validar = false;
        } else {
          this.telefono_validar = true;
        }
        if (this.direccion) {
          this.direccion_validar = false;
        } else {
          this.direccion_validar = true;
        }

        if(this.tipo){ this.tipo_validar = false} else{ this.tipo_validar = true }
        if(this.monto){ this.monto_validar = false} else{ this.monto_validar = true }
        if(this.tipo_accion){ this.tipo_accion_validar = false} else{ this.tipo_accion_validar = true }

        if (
          this.razon_social_validar == false &&
          this.ruc_validar == false &&
          this.correo_validar == false &&
          this.telefono_validar == false &&
          this.direccion_validar == false &&
          this.tipo_validar == false &&
          this.monto_validar == false &&
          this.tipo_accion_validar == false 
        )
        {
          this.enviarEmail()
        }
        else {
          console.log("error")
        }


      }
    },
    cambiarCampos() {
      this.nombre_validar = false;
      this.apellido_validar = false;
      this.tipo_documento_validar = false;
      this.documento_validar = false;
      this.razon_social_validar = false
      this.ruc_validar = false
      this.correo_validar = false
      this.telefono_validar = false
      this.direccion_validar = false

      if (this.tipo_persona == 1) {
        this.natural = true;
        this.juridica = false;
      } else {
        this.natural = false;
        this.juridica = true;
      }
    },

    enviarEmail() {
      const params = {
        tipo_persona: this.tipo_persona,
        razon_social: this.razon_social,
        ruc: this.ruc,
        nombre: this.nombre,
        apellido: this.apellido,
        tipo_documento: this.tipo_documento,
        documento: this.documento,
        correo: this.correo,
        telefono: this.telefono,
        domicilio: this.direccion,
        tipo: this.tipo,
        monto: this.monto,
        tipo_accion: this.tipo_accion,
        detalle: this.detalle,
        pedido: this.pedido,
      };

      axios
        .post("https://admin.eldepaderocko.com/api/email/reclamacion", params)
        .then((response) => {
          if (response.data == 200) {
            this.formulario = false;
            this.modal = true;
          }
        });
    },
  },
};
</script>
