<template>
  <body>
    <Menu />
    <section class="portada-register">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Regístrate</div>
      </div>
    </section>

    <section class="section-respuesta">
      <div class="container" id="respuesta">
       <div class="confirmado" v-if="mensaje" >   
          <p>
            Tu registro ha sido realizado correctamente, ahora puedes completar los datos de tu perfil en 
            <b>
              El Depa de Rocko.
            </b>
          </p>
           <RouterLink
                    :to="{ name: 'registros-adicionales', params: { uuid: uuid } }"
                    class="btn"
                    >Continuar</RouterLink
                  >
        </div>
      </div>
    </section> 


    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
import $ from 'jquery'

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      uuid: this.$route.params.uuid,
      mensaje: false
    };
  },
  mounted() {
    $('html, body').animate({
 scrollTop: $("#respuesta").offset().top
    }, 2000);
          
    this.activateAccount()
  },
  methods: {
    activateAccount() {
      axios.get('https://admin.eldepaderocko.com/api/activateAccount/'+this.uuid).then((response) => {
        if (response.data == 200)
        {
          this.mensaje = true
        }
      })
    }
  },
};
</script>
