<template>

  <body>
    <Menu />
    <section class="portada-register">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Regístrate</div>
      </div>
    </section>

    <section class="section-register" id="respuesta">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="profile-head">
              <div class="profile-title">
                <h4 class="profile-title-head">Hola RockoFriend</h4>
                <div class="profile-coins">
                  <span>
                    ¡Disfruta de beneficios únicos por ser parte de la
                    comunidad!
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-if="formulario">
          <div class="col--12">
            <form action="" class="form-register">
              <div class="form">
                <div class="form-field">
                  <img src="@/assets/img/icono-usuario.svg" alt="" />
                  <input type="text" name="" v-model="nombre" maxlength="40" placeholder="Nombre(s)*" />
                </div>
                <p class="form-field-error" v-if="nombre_validar">Nombre es requerido</p>
                <div class="form-field">
                  <img src="@/assets/img/icono-usuario.svg" alt="" />
                  <input type="text" name="" v-model="apellido" maxlength="40" placeholder="Apellido(s)*" />
                </div>
                <p class="form-field-error" v-if="apellido_validar">Apellido es requerido</p>

                <div class="form-field">
                  <img src="@/assets/img/Vector.png" alt="" />
                  <input type="number" name="" v-model="documento" placeholder="DNI o CE*" maxlength="20" />
                </div>
                <p class="form-field-error" v-if="documento_validar">Documento es requerido</p>

                <div class="form-field">
                  <img src="@/assets/img/icono-genero.png" alt="" />

                  <select name="select" v-model="genero" class="select">
                    <option value="0">Género*</option>
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="3">Prefiero no decirlo</option>
                  </select>
                </div>
                <p class="form-field-error" v-if="genero_validar">El género es requerido</p>

                <div class="form-field">
                  <img src="@/assets/img/icono-genero.png" alt="" />

                  <flat-pickr v-model="fecha" placeholder="Fecha de Cumpleaños" :config="configs.wrap" :required="true"
              @on-change="listenToOnChangeEvent" :disabled="inputDisabled" ref="datePickerWrap">
            </flat-pickr>
                </div>
                <p class="form-field-error" v-if="cumpleanos_validar">Debes ser mayor de edad para registrarte</p>

                <div class="form-field">
                  <img src="@/assets/img/msg.png" alt="" />
                  <input type="text" name="" v-model="correo" placeholder="Correo*" @blur="verificarCorreo()"
                    @keydown="validarCorreo()" @keyup="validarCorreo()" />
                </div>
                <p class="form-field-error" v-if="correo_validar">El correo es requerido</p>
                <p class="form-field-error" v-if="correo_formato">El correo ingresado es incorrecto</p>
                <p class="form-field-error" v-if="correo_existe">Este correo ya existe en nuestra base de datos.</p>

                <div class="form-field">
                  <img src="@/assets/img/phone.png" alt="" />
                  <input type="number" name="" v-model="celular" maxlength="20" placeholder="Número de celular*" />
                </div>
                <p class="form-field-error" v-if="celular_validar">Número de celular es requerido</p>

                <div class="form-field">
                  <img src="@/assets/img/candado.png" alt="" />
                  <input :type="tipo_clave" name="" v-model="clave" maxlength="15" @keydown="validarClave()"
                    @keyup="validarClave()" placeholder="Contraseña*" />

                  <img src="@/assets/img/icono-ojo.png" @click="cambiarcampo()" alt="" />
                </div>
                <p class="form-field-error" v-if="seguridad != 0 && seguridad != ''">{{ seguridad }}</p>
                <p class="form-field-error" v-if="errorClave">Las contraseñas deben coincidir</p>

                <div class="form-field">
                  <img src="@/assets/img/candado.png" alt="" />
                  <input :type="tipo_clave2" name="" maxlength="15" v-model="repetir"
                    placeholder="Confirmar contraseña*" />

                  <img src="@/assets/img/icono-ojo.png" @click="cambiarcampo2()" alt="" />
                </div>
                <p class="form-field-error" v-if="errorClave">Las contraseñas deben coincidir</p>
              </div>

              <div class="form-tyc info-registro">
                <label for="tyc">
                  <input type="checkbox" v-model="terminos_condiciones" name="" id="tyc">
                  Acepto los <a href="/terminos-condiciones" target="_blank"><b>Términos y condiciones</b>y <b>Política de privacidad</b> </a> de El Depa de Rocko.
                </label>

                <label for="tratamiento">
                  <input type="checkbox" name="" v-model="tratamiento" id="tratamiento">
                  Acepto el <a href="/tratamiento-adicionales" target="_blank"><b> tratamiento de mis datos</b></a> para fines adicionales.
                </label> 
              </div>
              <button type="button" v-on:click="ejecutar()" class="btn">
                Registrarme
              </button>
              <p class="text-link">
                ¿Ya tienes una cuenta?
                <a href="/login">Ingresa aquí.</a>
              </p>
            </form>
          </div>
        </div>

        <div class="row" v-if="modal">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.svg" alt="" />
                </div>
              </div>
              <div class="modal-body">
                <p>
                  <b>RockoFriend</b>, hemos registrado tus datos correctamente,
                  para terminar el proceso de suscripción hemos enviado un
                  correo de confirmación a la cuenta de correo registrada.
                </p>
                <a href="/login" class="btn"> Continuar </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-petcard">
      <div class="container">

        <div class="group-petcard">
          <div class="petcard-item">
            <h3 class="petcard-head">
              La tarjeta Pet Friendly
              <span>como la imaginabas</span>
            </h3>
            <div class="petcard-subtitle">
              Sabemos lo difícil que es encontrar hogares y
              lugares Pet Friendly. Por eso:
            </div>

            <ul class="petcard-list">
              <li>Encontrarás hogares y lugares Pet Friendly a un click.</li>
              <li>Accederás a descuentos únicos.</li>
              <li>Vivirás la Experiencia Rocko.</li>
              <li>Tendrás el acceso a eventos exclusivos.</li>
              <li>Serás parte de la comunidad RockoFriends.</li>
            </ul>
          </div>
          <div class="petcard-item">
            <div class="petcard-image">
              <img src="@/assets/img/bg-tarjeta-digital.png" alt="" />
              <p>Primera tarjeta Pet Friendly en Perú y Latinoamérica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";
import $ from 'jquery'


//para funcionar el campo de date
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.min.css';
import { Hindi as HindiLocale } from 'flatpickr/dist/l10n/hi.js';
import { english as EnglishLocale } from 'flatpickr/dist/l10n/default.js'
import ConfirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate.js';
import 'flatpickr/dist/plugins/confirmDate/confirmDate.css';
import monthSelectPlugin from 'flatpickr/dist/plugins/monthSelect/index.js'
import 'flatpickr/dist/plugins/monthSelect/style.css'



export default {
  components: {
    Menu,
    Footer,
    flatPickr,
  },
  data() {
    return {
      tipo_clave: "password",
      terminos_condiciones: false,
      cumpleanos_validar: false,
      tipo_clave2: "password",
      errorClave: false,
      genero: 0,
      nombre: "",
      apellido: "",
      documento: "",
      correo: "",
      celular: "",
      clave: "",
      repetir: "",
      formulario: true,
      modal: false,
      expression: /\w+@\w+\.+[a-z]/,
      correo_validar: false,
      correo_formato: false,
      correo_existe: false,
      nombre_validar: false,
      apellido_validar: false,
      documento_validar: false,
      genero_validar: false,
      celular_validar: false,
      seguridad: '',
      letras: "abcdefghyjklmnñopqrstuvwxyz",
      números: "0123456789",
      fecha: '',
      form: {
        dateBasic: null,
        dateTime: null,
        time: null,

        dateLocale: null,
        dateInline: +new Date(),
        dateConfirm: null,
        allowInput: null,
        dateStart: null,
        dateEnd: null,
        monthSelect: null,
      },
      configs: {
        basic: {},
        wrap: {
          wrap: true,
          altFormat: 'M Y d',
          altInput: true,
          dateFormat: "Y-m-d",
          maxDate: '2002-12-31'
        },
        locale: {
          locale: HindiLocale,
          onChange: this.onChange
        },
        inline: {
          inline: true
        },
        confirmPlugin: {
          enableTime: true,
          plugins: [new ConfirmDatePlugin()]
        },
        allowInput: {
          allowInput: true,
          dateFormat: 'Y-m-d'
        },
        start: {
          minDate: new Date(),
          maxDate: '2002-12-31'
        },
        end: {
          minDate: '2002-12-31',
          maxDate: '2002-12-31'
        },
        monthSelect: {
          plugins: [
            new monthSelectPlugin({
              shorthand: true,
              dateFormat: "m/Y",
            })
          ]
        }
      },
    };
  },
  methods: {
    validarCorreo() {
      if (this.validEmail(this.correo)) {
        this.correo_formato = false;
      } else {
        this.correo_formato = true;
      }
    },
    verificarCorreo() {
      axios.get('https://admin.eldepaderocko.com/api/validarCorreo/' + this.correo).then((response) => {
        if (response.data == 1) {
          this.correo_existe = true
        }
        else {
          this.correo_existe = false
        }
      })
    },
    validEmail: function (email) {
      var re =
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validarClave() {
      const regex = /^(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ]/;
      if (regex.test(this.clave)) {
        this.seguridad = 0;
      } else {
        this.seguridad = "La clave debe contener al menos una letra mayúscula, una letra minúscula, y números";
      }
    },
    cambiarcampo() {
      if (this.tipo_clave == "password") {
        this.tipo_clave = "text";
      } else {
        this.tipo_clave = "password";
      }
    },
    cambiarcampo2() {
      if (this.tipo_clave2 == "password") {
        this.tipo_clave2 = "text";
      } else {
        this.tipo_clave2 = "password";
      }
    },

    ejecutar() {
      if (this.nombre) {
        this.nombre_validar = false;
      } else {
        this.nombre_validar = true;
      }
      if (this.apellido) {
        this.apellido_validar = false;
      } else {
        this.apellido_validar = true;
      }
      if (this.documento) {
        this.documento_validar = false;
      } else {
        this.documento_validar = true;
      }
      if (this.correo) {
        this.correo_validar = false;
      } else {
        this.correo_validar = true;
      }
      if (this.celular) {
        this.celular_validar = false;
      } else {
        this.celular_validar = true;
      }
      if (this.genero != 0) {
        this.genero_validar = false;
      } else {
        this.genero_validar = true;
      }

      if (this.clave == this.repetir) {
        this.errorClave = false;
      }

      if (this.clave && this.repetir
        && this.clave == this.repetir
        && this.nombre_validar == false
        && this.apellido_validar == false
        && this.documento_validar == false
        && this.celular_validar == false
        && this.genero_validar == false
        && this.seguridad == 0
        && this.correo_existe == false
        && this.terminos_condiciones == true
      ) {
        this.errorClave = false;

        const params = {
          genero: this.genero,
          nombre: this.nombre,
          apellido: this.apellido,
          documento: this.documento,
          correo: this.correo,
          celular: this.celular,
          clave: this.clave,
          repeti: this.repetir,
          fecha: this.fecha
        };

        
        if (this.correo_existe == false) {
          axios
          .post(
            "https://admin.eldepaderocko.com/api/registrer",
            params
          )
          .then((response) => {
            if (response.data == 200) {
              this.formulario = false;
              this.modal = true;
              $('html, body').animate({
                scrollTop: $("#respuesta").offset().top
              }, 2000);
            }
          });
        }
        
      } else {
        console.log("hay error en la validacion")
       if (this.clave == this.repetir) {
         this.errorClave = false;
      }

      }
    },
  },
};
</script>
