<template>
  <body>
    <Menu />
    <section class="portada-login reset-account">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">¡Recupera tu contraseña!</div>
        <p class="parrafo-head">Te enviaremos un correo para que puedas recuperar tu contraseña</p>
        <form action="" class="form-login" v-if="etapa1">
          <div class="form-field">
            <img src="@/assets/img/msg.png" alt="">
            <input type="text" style="color: white" v-model="correo" name="" placeholder="Correo" id="">
          </div>
          <p v-if="corrreo_existe" style="color:white; margin-left: 1rem">Revisa tu correo, no exsiste en nuestra base de datos!</p>
          <input type="button" @click="validarEmail()" value="Enviar mensaje" class="btn">
          <p class="text-link">
            ¿Ya recuerdas tu contraseña?
            <a href="/login">Inicia sesión.</a>
          </p>
        </form>


         <div class="row" v-if="etapa2">
          <div class="col--12">
            <div class="modal-content">
              <div class="modal-head">
                <div class="modal-image">
                  <img src="@/assets/img/logo-rosa.svg" alt="" />
                </div>
              </div>
             <div class="modal-body">
              <p class="modal-text">
                Te enviamos al siguiente correo las instrucciones
                para recuperar tu contraseña:
              </p>
              <br>
              <div class="modal-text-lead">
                <b>{{correo}}</b>
              </div>
              <br>
              <div class="modal-text-xs">
                Si no te ha llegado, revisa la carpeta de spam.
              </div>
              <a href="/login" class="btn">
                Volver
              </a>
            </div>
            </div>
          </div>
        </div>

      
      </div>
    </section>

    
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {
      correo: '',
      corrreo_existe: false,
      etapa1: true,
      etapa2: false
    };
  },
  mounted() {},
  methods: {
    validarEmail(){
      axios.get('https://admin.eldepaderocko.com/api/reset-account/' + this.correo).then((response) => {
        console.log
        if (response.data == 100) {
          this.corrreo_existe = true
        }
        else {
          this.etapa1 = false
          this.etapa2 = true
        }
      })
    }
  },
};
</script>
