<template>
  <body>
    <Menu />

    <section class="portada-tratamiento">
      <div class="bg-opacity"></div>
      <div class="container">
        <div class="title-head">Tratamiento adicional de datos personales</div>
      </div>
    </section>

    <section class="title-terminos">
      <div class="container">
         <div class="row">
          <div class="col--12">
              <span> <b>
             Tratamiento adicional de datos personales
              </b>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="terminos-text">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div>
              <p>
Esta sección establece los términos y condiciones (en adelante, las “Condiciones Generales”) para el uso de los contenidos y servicios (en adelante, los “Servicios”) del sitio web especificado en la cláusula 12 (en adelante, el “Sitio Web”). El Sitio Web y los Servicios son prestados por la empresa detallada en la cláusula 12 (en adelante, “El Depa de Rocko”). <br>
En caso de no estar de acuerdo con las Condiciones Generales, por favor, abandone el Sitio Web y absténgase de utilizar los Servicios que se ofrecen. La utilización por el usuario del Sitio Web se entenderá como aceptación plena y sin reservas de las Condiciones Generales aquí establecidas. <br> <br>

En adelante, los términos “Usted” y “Usuario” serán utilizados para hacer referencia a todas las personas físicas y/o jurídicas que por cualquier razón accedan al Sitio Web.
1. ACCESO AL SITIO WEB
1.1 Acceso al Sitio Web
El acceso y utilización del Sitio Web no exige la previa suscripción o registro del Usuario. Sin embargo, es posible que la utilización de algunos de los Servicios ofrecidos a través del Sitio Web requiera la suscripción o registro del Usuario y/o el pago de un precio.
1.2 Utilización del Sitio Web
1.2.1 El Usuario se compromete a utilizar el Sitio Web de conformidad con estas Condiciones Generales, las leyes aplicables conforme la cláusula 12 y con la moral y buenas costumbres.
1.2.2 El Usuario se obliga a abstenerse de utilizar el Sitio Web con fines o efectos ilícitos, contrarios a lo establecido en las Condiciones Generales, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web o impedir la normal utilización del Sitio Web por parte de los Usuarios.
1.3 Contenido del Sitio Web
1.3.1 Los contenidos de este Sitio Web, tales como texto, información, gráficos, imágenes, logos, marcas, programas de computación, bases de datos, diseños, arquitectura funcional y cualquier otro material (en adelante, el “Contenido”) están protegidos por las leyes aplicables en cada jurisdicción conforme la cláusula 12 incluyendo, pero sin limitación, las leyes sobre derechos de autor, patentes, marcas, modelos de utilidad, diseños industriales y nombres de dominio. 
1.3.2 Todo el Contenido es propiedad de El Depa de Rocko y/o de cualquier otra sociedad vinculada y/o de sus proveedores de contenido. La compilación, interconexión, operatividad y disposición de los contenidos del Sitio Web es de propiedad exclusiva de El Depa de Rocko y/o de sus empresas vinculadas. El uso, adaptación, reproducción y/o comercialización no autorizada del Contenido puede encontrarse penado por la legislación vigente en cada jurisdicción.
1.3.3 Usted no copiará ni adaptará el código de programación desarrollado por, o por cuenta de, El Depa de Rocko para generar y operar sus páginas, el cual se encuentra protegido por la legislación aplicable y vigente en cada jurisdicción.
1.4 Uso permitido del Sitio
1.4.1 Reglas generales: Los Usuarios tienen prohibido utilizar el Sitio Web para transmitir, distribuir, almacenar o destruir material (i) violando la normativa vigente, (ii) de forma que se infrinjan derechos de terceros o se viole la confidencialidad, honor, privacidad, imagen u otros derechos personales de otras personas.
1.4.2 Reglas de Seguridad del Sitio Web: Los Usuarios tienen prohibido violar o intentar violar la seguridad del Sitio Web, incluyendo pero no limitándose a: (i) el acceso a datos que no estén destinados a tal usuario o entrar en un servidor o cuenta cuyo acceso no está autorizado al Usuario, (ii) evaluar o probar la vulnerabilidad de un sistema o red, o violar las medidas de seguridad o identificación sin la adecuada autorización, (iii) intentar impedir el Servicio a cualquier Usuario, anfitrión o red, incluyendo, pero sin limitación, mediante el envío de virus al Sitio Web, o mediante saturación o ataques de denegación de Servicio, (iv) enviar correos no pedidos, incluyendo promociones y/o publicidad de productos o servicios, o (v) falsificar cualquier cabecera de paquete TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico o en mensajes de foros de debate.
1.4.3 Las violaciones de la seguridad del sistema o de la red constituyen delitos penales y pueden derivar en responsabilidades civiles. El Depa de Rocko investigará los casos de violaciones a la seguridad del sistema, pudiendo dirigirse a la autoridad judicial o administrativa competente a los efectos de perseguir a los Usuarios involucrados en tales violaciones.
1.5 Usos prohibidos
1.5.1 El Sitio Web sólo podrá ser utilizado con fines lícitos, para acceder a información referida a los Servicios disponibles a través del mismo. El Depa de Rocko prohíbe específicamente cualquier utilización del Sitio Web para:
<br>
<span>●</span>  Anunciar datos biográficos incompletos, falsos o inexactos.
<br>
<span>●</span>  Registrar más de una cuenta correspondiente a un mismo usuario.
<br>
<span>●</span>Usar cualquier mecanismo para impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad que se esté realizando en este Sitio Web.
<br>
<span>●</span>  Revelar o compartir su contraseña con terceras personas, o usar su contraseña para propósitos no autorizados.
<br>
<span>●</span> El uso o intento de uso de cualquier máquina, software, herramienta, agente u otro mecanismo para navegar o buscar en este Sitio Web que sean distintos a las herramientas de búsqueda provistos por El Depa de Rocko en este Sitio Web.
<br>
<span>●</span> Intentar descifrar, descompilar u obtener el código fuente de cualquier programa de software de este Sitio Web.
1.5.2 El Depa de Rocko se reserva el derecho de suspender o dar de baja a cualquier Usuario que, a exclusivo criterio de El Depa de Rocko, no cumpla con los estándares definidos en estas Condiciones Generales o con las políticas vigentes de El Depa de Rocko, sin que ello genere derecho a resarcimiento alguno. 
1.3 Contenido del Sitio Web
1.3.1 Los contenidos de este Sitio Web, tales como texto, información, gráficos, imágenes, logos, marcas, programas de computación, bases de datos, diseños, arquitectura funcional y cualquier otro material (en adelante, el “Contenido”) están protegidos por las leyes aplicables en cada jurisdicción conforme la cláusula 12 incluyendo, pero sin limitación, las leyes sobre derechos de autor, patentes, marcas, modelos de utilidad, diseños industriales y nombres de dominio. 
1.3.2 Todo el Contenido es propiedad de El Depa de Rocko y/o de cualquier otra sociedad vinculada y/o de sus proveedores de contenido. La compilación, interconexión, operatividad y disposición de los contenidos del Sitio Web es de propiedad exclusiva de El Depa de Rocko y/o de sus empresas vinculadas. El uso, adaptación, reproducción y/o comercialización no autorizada del Contenido puede encontrarse penado por la legislación vigente en cada jurisdicción.
1.3.3 Usted no copiará ni adaptará el código de programación desarrollado por, o por cuenta de, El Depa de Rocko para generar y operar sus páginas, el cual se encuentra protegido por la legislación aplicable y vigente en cada jurisdicción.
1.4 Uso permitido del Sitio
1.4.1 Reglas generales: Los Usuarios tienen prohibido utilizar el Sitio Web para transmitir, distribuir, almacenar o destruir material (i) violando la normativa vigente, (ii) de forma que se infrinjan derechos de terceros o se viole la confidencialidad, honor, privacidad, imagen u otros derechos personales de otras personas.
1.4.2 Reglas de Seguridad del Sitio Web: Los Usuarios tienen prohibido violar o intentar violar la seguridad del Sitio Web, incluyendo pero no limitándose a: (i) el acceso a datos que no estén destinados a tal usuario o entrar en un servidor o cuenta cuyo acceso no está autorizado al Usuario, (ii) evaluar o probar la vulnerabilidad de un sistema o red, o violar las medidas de seguridad o identificación sin la adecuada autorización, (iii) intentar impedir el Servicio a cualquier Usuario, anfitrión o red, incluyendo, pero sin limitación, mediante el envío de virus al Sitio Web, o mediante saturación o ataques de denegación de Servicio, (iv) enviar correos no pedidos, incluyendo promociones y/o publicidad de productos o servicios, o (v) falsificar cualquier cabecera de paquete TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico o en mensajes de foros de debate.
1.4.3 Las violaciones de la seguridad del sistema o de la red constituyen delitos penales y pueden derivar en responsabilidades civiles. El Depa de Rocko investigará los casos de violaciones a la seguridad del sistema, pudiendo dirigirse a la autoridad judicial o administrativa competente a los efectos de perseguir a los Usuarios involucrados en tales violaciones.
1.5 Usos prohibidos
1.5.1 El Sitio Web sólo podrá ser utilizado con fines lícitos, para acceder a información referida a los Servicios disponibles a través del mismo. El Depa de Rocko prohíbe específicamente cualquier utilización del Sitio Web para:
<br>
<span>●</span>  Anunciar datos biográficos incompletos, falsos o inexactos.
<br>
<span>● </span> Registrar más de una cuenta correspondiente a un mismo usuario.
<br>
<span>●</span> Usar cualquier mecanismo para impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad que se esté realizando en este Sitio Web.
<br>
<span>●</span> Revelar o compartir su contraseña con terceras personas, o usar su contraseña para propósitos no autorizados.
<br>
<span>●</span> El uso o intento de uso de cualquier máquina, software, herramienta, agente u otro mecanismo para navegar o buscar en este Sitio Web que sean distintos a las herramientas de búsqueda provistos por El Depa de Rocko en este Sitio Web.
<br>
<span>●</span> Intentar descifrar, descompilar u obtener el código fuente de cualquier programa de software de este Sitio Web.
1.5.2 El Depa de Rocko se reserva el derecho de suspender o dar de baja a cualquier Usuario que, a exclusivo criterio de El Depa de Rocko, no cumpla con los estándares definidos en estas Condiciones Generales o con las políticas vigentes de El Depa de Rocko, sin que ello genere derecho a resarcimiento alguno. 
1.3 Contenido del Sitio Web
1.3.1 Los contenidos de este Sitio Web, tales como texto, información, gráficos, imágenes, logos, marcas, programas de computación, bases de datos, diseños, arquitectura funcional y cualquier otro material (en adelante, el “Contenido”) están protegidos por las leyes aplicables en cada jurisdicción conforme la cláusula 12 incluyendo, pero sin limitación, las leyes sobre derechos de autor, patentes, marcas, modelos de utilidad, diseños industriales y nombres de dominio. 
1.3.2 Todo el Contenido es propiedad de El Depa de Rocko y/o de cualquier otra sociedad vinculada y/o de sus proveedores de contenido. La compilación, interconexión, operatividad y disposición de los contenidos del Sitio Web es de propiedad exclusiva de El Depa de Rocko y/o de sus empresas vinculadas. El uso, adaptación, reproducción y/o comercialización no autorizada del Contenido puede encontrarse penado por la legislación vigente en cada jurisdicción.
1.3.3 Usted no copiará ni adaptará el código de programación desarrollado por, o por cuenta de, El Depa de Rocko para generar y operar sus páginas, el cual se encuentra protegido por la legislación aplicable y vigente en cada jurisdicción.
1.4 Uso permitido del Sitio
1.4.1 Reglas generales: Los Usuarios tienen prohibido utilizar el Sitio Web para transmitir, distribuir, almacenar o destruir material (i) violando la normativa vigente, (ii) de forma que se infrinjan derechos de terceros o se viole la confidencialidad, honor, privacidad, imagen u otros derechos personales de otras personas.
1.4.2 Reglas de Seguridad del Sitio Web: Los Usuarios tienen prohibido violar o intentar violar la seguridad del Sitio Web, incluyendo pero no limitándose a: (i) el acceso a datos que no estén destinados a tal usuario o entrar en un servidor o cuenta cuyo acceso no está autorizado al Usuario, (ii) evaluar o probar la vulnerabilidad de un sistema o red, o violar las medidas de seguridad o identificación sin la adecuada autorización, (iii) intentar impedir el Servicio a cualquier Usuario, anfitrión o red, incluyendo, pero sin limitación, mediante el envío de virus al Sitio Web, o mediante saturación o ataques de denegación de Servicio, (iv) enviar correos no pedidos, incluyendo promociones y/o publicidad de productos o servicios, o (v) falsificar cualquier cabecera de paquete TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico o en mensajes de foros de debate.
1.4.3 Las violaciones de la seguridad del sistema o de la red constituyen delitos penales y pueden derivar en responsabilidades civiles. El Depa de Rocko investigará los casos de violaciones a la seguridad del sistema, pudiendo dirigirse a la autoridad judicial o administrativa competente a los efectos de perseguir a los Usuarios involucrados en tales violaciones.
1.5 Usos prohibidos
1.5.1 El Sitio Web sólo podrá ser utilizado con fines lícitos, para acceder a información referida a los Servicios disponibles a través del mismo. El Depa de Rocko prohíbe específicamente cualquier utilización del Sitio Web para:
<br>
<span>●</span> Anunciar datos biográficos incompletos, falsos o inexactos.
<br>
<span>●</span> Registrar más de una cuenta correspondiente a un mismo usuario.
<br>
<span>●</span> Usar cualquier mecanismo para impedir o intentar impedir el adecuado funcionamiento de este Sitio Web o cualquier actividad que se esté realizando en este Sitio Web.
<br>
<span>●</span> Revelar o compartir su contraseña con terceras personas, o usar su contraseña para propósitos no autorizados.
<br>
<span>●</span> El uso o intento de uso de cualquier máquina, software, herramienta, agente u otro mecanismo para navegar o buscar en este Sitio Web que sean distintos a las herramientas de búsqueda provistos por El Depa de Rocko en este Sitio Web.
<br>
<span>●</span> Intentar descifrar, descompilar u obtener el código fuente de cualquier programa de software de este Sitio Web.
1.5.2 El Depa de Rocko se reserva el derecho de suspender o dar de baja a cualquier Usuario que, a exclusivo criterio de El Depa de Rocko, no cumpla con los estándares definidos en estas Condiciones Generales o con las políticas vigentes de El Depa de Rocko, sin que ello genere derecho a resarcimiento alguno. 



              </p>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Aqui van las secciones -->
    <Footer />
  </body>
</template>

<script>
import Menu from "@/components/MenuComponent.vue";
import Footer from "@/components/FooterComponent.vue";
import axios from "axios";

export default {
  components: {
    Menu,
    Footer,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
