<template>
  <footer>
    <div class="sub-footer">
      <div class="container">
        <div class="footer-content">
          
          <div class="image-rrss">
            <a target="_blank" href="https://www.instagram.com/eldepaderocko/">
              <img src="@/assets/img/icono-ig.svg" alt="" />
            </a>
            <a target="_blank" href="https://www.tiktok.com/@eldepaderocko">
              <img src="@/assets/img/icono-tiktok.svg" alt="" />
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/eldepaderocko/?_rdc=1&_rdr"
            >
              <img src="@/assets/img/icono-fb.svg" alt="" />
            </a>
            <a
              target="_blank"
              href="https://pe.linkedin.com/company/eldepaderocko"
            >
              <img src="@/assets/img/icono-linkedin.svg" alt="" />
            </a>
            <a
              target="_blank"
              href="https://open.spotify.com/user/7y4usr4t89a7559b3jxs45khr?si=zrzqsWbMRGWMjGCK2pabpA&utm_source=copy-link"
            >
              <img src="@/assets/img/icono-spotify.svg" alt="" />
            </a>
            <a target="_blank" href="https://twitter.com/Eldepaderocko">
              <img src="@/assets/img/icono-twt.svg" alt="" />
            </a>
          </div>

          <a href="" class="logo">
            <img src="@/assets/img/logo-footer.svg" alt="" />
          </a>
          
          <div class="footer-menu">
            <ul class="footer-menu-item1">
              <li>
                <router-link to="/terminos-condiciones" target="_blank">Términos y condiciones</router-link>
              </li>
              <li>
                <router-link to="/nosotros" target="_blank"
                  >Nosotros</router-link
                >
              </li>
            </ul>

            <ul class="footer-menu-item2">
              <li>
                <router-link to="/contacto" target="_blank"
                  >Contacto</router-link
                >
              </li> 
              <li>
                <router-link to="/libro-reclamaciones" target="_blank"
                  >Libro de reclamaciones</router-link
                >
              </li> 
            </ul>
            
            <ul class="footer-menu-item3">
              <li class="m-none">Correo electrónico:</li>
              <li>contacto@eldepaderocko.com</li>
            </ul>
            
            <ul class="footer-menu-item4">
              <li>Métodos de pago:</li>
              <li>
                <div class="image-pagos">
                  <img src="@/assets/img/logos-visa.png" alt="" />
                </div>
              </li>
            </ul>
            <ul class="footer-menu-item5">
              <li class="m-none">Teléfono:</li>
              <li>+51 928 576 714</li>
            </ul>
            <ul class="footer-menu-item6">
              <li>
                <div class="image-rrss">
                  <a target="_blank" href="https://www.instagram.com/eldepaderocko/">
                    <img src="@/assets/img/icono-ig.svg" alt="" />
                  </a>
                  <a target="_blank" href="https://www.tiktok.com/@eldepaderocko">
                    <img src="@/assets/img/icono-tiktok.svg" alt="" />
                  </a>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/eldepaderocko/?_rdc=1&_rdr"
                  >
                    <img src="@/assets/img/icono-fb.svg" alt="" />
                  </a>
                  <a
                    target="_blank"
                    href="https://pe.linkedin.com/company/eldepaderocko"
                  >
                    <img src="@/assets/img/icono-linkedin.svg" alt="" />
                  </a>
                  <a
                    target="_blank"
                    href="https://open.spotify.com/user/7y4usr4t89a7559b3jxs45khr?si=zrzqsWbMRGWMjGCK2pabpA&utm_source=copy-link"
                  >
                    <img src="@/assets/img/icono-spotify.svg" alt="" />
                  </a>
                  <a target="_blank" href="https://twitter.com/Eldepaderocko">
                    <img src="@/assets/img/icono-twt.svg" alt="" />
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <p>Copyright 2022 - eldepaderocko.com - Todos los derechos reservados</p>
        <div class="copy-image">
          <img src="@/assets/img/icono-rocko.svg" alt="" />
        </div>
      </div>
    </div>
  </footer>
</template>
