<template>
  <header>
    <div class="container">
      <!-- <div class="burguer" v-on:click="menu">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
      <a href="/" class="logo a">
        <img src="@/assets/img/logo-rosa.svg" alt="" />
      </a>

      <ul class="menu-list">
        <li>
          <a href="/nosotros">Nosotros</a>
        </li>
        <li>
          <a href="/blog">RockoBlog</a>
        </li>
      </ul>

      <div class="nav">
        <nav class="botton-dropdown">
          <div class="cajita">
            <a href=""> <img src="@/assets/img/Vector-home.svg" alt="" /> </a>
          </div>
          <div class="cajita">
            <label for="toggle">
              <img src="@/assets/img/lineas-home.png" alt=""
            /></label>
          </div>
        </nav>
        <input type="checkbox" id="toggle" />
        <div class="menu">
          <a href="/registro" v-if="sesion == false">Registrate</a>
          <a href="/login" v-if="sesion == false">Iniciar Sesion</a>
          <a href="/perfil" v-if="sesion">Perfil</a>
          <a href="#" @click="cerrarSesion" v-if="sesion">Cerrar Sesion</a>
          <!-- <a>Se RockoFriend Boss</a> -->
          <!-- <a>Rockopoints</a> -->
          <a href="/nosotros" class="menu-m">Nosotros</a>
          <a href="/blog" class="menu-m">RockoBlog</a>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import $ from "jquery";

export default {
  data() {
    return {
      sesion: false
    };
  },
  mounted() {
    if (localStorage.uuid) {
      this.sesion = true
    }
  },
  methods: {
    menu() {
      $("nav .menu").toggleClass("active");

      if ($("nav .menu").hasClass("active")) {
        $("body").addClass("block");
      } else {
        $("body").removeClass("block");
      }
    },
    cerrarSesion() {
      localStorage.clear();
      window.location.href = "https://prefront.eldepaderocko.com/login";
    }
  },
};
</script>
