<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <RouterView />
</template>

<style>
@import "@/assets/css/swiper-bundle.min.css";
@import "@/assets/css/header.css";
@import "@/assets/css/footer.css";
@import "@/assets/css/home.css";
@import "@/assets/css/blog.css";
@import "@/assets/css/evento.css";
@import "@/assets/css/general.css";
</style>
